<div id="acciones-y-resultados">
  <h2>Acciones y resultados</h2>

  <div class="row">
    <div class="col-md-6 animated fadeInLeft slow-a">

      <p>
        Reafirmamos nuestro compromiso al invertir en la más alta tecnología de reciclado, siendo considerados como captadores de CO<sub>2</sub> equivalente, al evitar que el papel y cartón en desuso lleguen a los confinamientos de basura, degradándose y produciendo Gases Efecto Invernadero (GEI).
      </p>

      <p>
        Hemos incrementado nuestro índice de recolección de fibra reciclada, proveniente de papel y cartón en desuso, logrando acopiar el 73% de fibra nacional durante 2013 e importando tan sólo 27% de la fibra que requerimos en nuestros procesos de producción de papel.
      </p>

      <p>
        Durante los últimos diez años, la empresa invirtió más de 5,300 millones de pesos en proyectos de sustentabilidad para salvar miles de árboles diariamente, al convertirse en el mayor reciclador de papel en México y América Latina
      </p>

    </div>
    <div class="col-md-6  animated fadeInRight slow-a">
      <img class="center-block" src="/imagenes/contenidos/mayores.jpg" alt=""/></div>
  </div>


  <div class="row">

    <div class="col-md-6 wow animated fadeInRight slow-a right-first">


      <p>
        En 2013 se ahorraron 1.7 millones de metros cúbicos de agua con respecto al año anterior. Asimismo, en 2013 se inauguró la cuarta planta de co-generación de Bio Pappel, instalada en el estado de Veracruz, logrando reducir en 25% las emisiones directas a la atmósfera, que significan 30,000 toneladas de CO<sub>2</sub> equivalente al año, 9 veces más Carbono del que emiten sus procesos.
      </p>

      <p>
        Encabezamos la promoción y la ejecución, a nivel nacional, para que el sector gubernamental en sus tres niveles de gobierno, principalmente el municipal, cuente con planes de manejo de residuos sólidos urbanos. Estos planes tienen como objetivo fundamental incrementar el índice nacional de recolección, el cual ha aumentado en los últimos cinco años, del 49.1% en 2009 al 56.7% en 2013, según cifras de la Cámara del Papel.
      </p>


    </div>


    <div class="col-md-6 right-first wow animated fadeInLeft slow-a">
      <img class="center-block" style="margin-top: 0px" src="/imagenes/contenidos/agua1.jpg" alt=""/></div>

  </div>


  <div class="row">


    <div class="col-md-6 wow animated fadeInLeft slow-a">

      <p>
        Con acciones como ésta, promovemos una adecuada separación en la fuente y una recolección selectiva de residuos sólidos urbanos, lo que a su vez nos permite, de una forma efectiva y de alto impacto, tener acceso a materia prima que podrá ser reciclada una y otra vez, generando un impacto positivo para el medio ambiente y la sociedad en general.
      </p>

      <p>
        Nuestro sistema de cogeneración, bio-energy, busca tener un mejor aprovechamiento de la energía eléctrica, al utilizar Gas Natural para generar energía limpia, permitiendo, además, obtener vapor, como subproducto de los gases de combustión. Dicho vapor es utilizado en el proceso de fabricación de papel, aumentando el aprovechamiento   energético convencional.
      </p>

    </div>

    <div class="col-md-6 wow animated fadeInRight slow-a">
      <div style="text-align: center">

        <img style="margin-top: 0px;" src="/imagenes/contenidos/arbol.jpg" alt=""/>

      </div>
    </div>


  </div>


</div>
