<div id="clientes">
  <h2 class="mt-0">Clientes</h2>

  <div class="row">
    <div class="col-md-6 animated fadeInLeft slow-a">
      <h3>Ofreciendo productos líderes</h3>

      <p>Tener entre nuestros clientes a empresas líderes en sus respectivos sectores es un honor y orgullo para
        nosotros.
        Cumplir sus altos estándares de calidad y servicio es un aspecto que entendemos de manera clara; porque,
        también, somos
        líderes en nuestra industria, y tenemos la actitud de dar lo mejor de nosotros cada día.</p>

      <p>Nuestros productos cumplen con la norma NMX-144, correspondiente a las compras de gobierno, así como con la
        norma
        NMX-NN-107, conocida como Mariposa Monarca sobre el requerimiento de fibra reciclada para la fabricación de
        nuestro
        papel. También nos alineamos a los parámetros establecidos por la FDA (Food and Drug Administration), para el
        caso
        de los productos que tengan contacto con alimentos, y a la certificación de Cadena de Custodia que garantiza al
        cliente el uso de materias primas sustentables. </p>

      <p>En 2013, se llevaron a cabo 33 evaluaciones de nuestros productos y procesos por parte de nuestros clientes más
        importantes. Los principales rubros de evaluación fueron: cumplimiento de estándares de calidad (ISO 9001:2008);
        inocuidad alimentaria (ISO 22000), para el caso de los productos que tengan contacto con alimentos; y, Ética y
        Responsabilidad Social (Código SMETA SEDEX), donde obtuvimos resultados satisfactorios, 90% de cumplimiento. Las
        áreas de oportunidad serán atendidas por nuestro programa “Procedimiento de acciones preventivas y/o
        correctivas”, a
        través del cual la planta o el área responsable documentarán las recomendaciones, darán un seguimiento puntual,
        y se
        asegurarán que en un periodo máximo de tres meses se hayan medido impactos y solucionado dichas
        observaciones.</p>
    </div>
    <div class="col-md-6 animated fadeInRight slow-a">
      <div id="show" style="text-align: center">

        <img class="img-responsive" style="margin-top: 80px" src="/imagenes/contenidos/produccion1.jpg" alt=""/>

      </div>
    </div>
  </div>

  <div class="row">


    <div class="col-md-6 wow animated fadeInRight slow-a right-first">
      <h3>Fortaleciendo nuestra logística</h3>

      <p>Con nuestro proyecto Bio-PAPPEL Transporte, desarrollamos un modelo logístico a gran
        escala de recolección y
        entrega de fibra, y producto terminado, generando ahorros en tiempos de traslado que implican una reducción de
        más
        del 50% de lo que anteriormente se requería, fortaleciendo de esta manera nuestro modelo de entrega
        “justo-a-tiempo”.</p>

      <p>En 2013, pusimos en marcha el proyecto piloto Alta Eficiencia en Transporte para la flota propia de los grupos
        de
        negocios de Packaging y Papel, a través del cual adquirimos unidades con caja seca, y tracto camiones de doble
        articulación que permitieron mejorar la calidad, disponibilidad e imagen del transporte de nuestro producto
        terminado. Con este proyecto, logramos hacer un uso más eficiente de nuestro transporte, desarrollando nuestro
        modelo
        de Logística Inversa, coordinada con nuestros clientes, para reducir el impacto de CO<sub>2</sub>.</p>

      <p>Al 31 de diciembre de 2013, contábamos con una flotilla de aproximadamente 137 camiones, teniendo, también,
        acceso
        al servicio de transportes independientes, camión y ferrocarril, generando el servicio requerido para embarcar
        nuestros productos terminados a clientes en México y E.U.A.</p>

      <p>En 2013, nuestros centros de recolección en E.U.A. abastecieron 31% de nuestros requerimientos de fibra, y
        nuestros centros en México el 30%, obteniendo el 39% remanente en el mercado abierto (E.U.A. y México)</p>
    </div>


    <div class="col-md-6 wow animated fadeInLeft slow-a ">
      <div style="text-align: center">

        <img class="img-responsive" style="margin-top: 80px;" src="/imagenes/contenidos/logistica.jpg" alt=""/>

      </div>

    </div>


  </div>

</div>
