<div id="comunidad">
  <h2 class="mt-0">Contribuyendo al bienestar de la comunidad</h2>

  <div class="row">
    <div class="col-md-6 animated fadeInLeft slow-a">
      <p>Mantenemos seguimiento y avances significativos en nuestra estrategia de Responsabilidad Social, llamada
        “EnrollaRSE”, la cual se basa en tres ejes rectores: cuidado del entorno; desarrollo comunitario y educación
        para el
        desarrollo. </p>

      <p>Alrededor de nuestros tres ejes rectores hemos desarrollado diferentes programas de acción: AbraZa un árbol;
        Échale
        una mano al medio ambiente; Cuidar el mundo: nuestro Pappel; A favor de mi comunidad; Verano Bio-Pappel;
        Educación
        para el desarrollo; y, Talleres productivos.</p>

      <p><strong>AbraZa un árbol</strong>, las campañas de acopio de papel y cartón en escuelas, universidades y
        organizaciones de la
        sociedad civil lograron 158.8 Toneladas de papel y cartón acopiadas; 87 contenedores colocados; 72 instituciones
        de
        la sociedad civil beneficiadas; más de 178,000 pesos donados en especie a las instituciones participantes.</p>
    </div>
    <div class="col-md-6 animated fadeInRight slow-a">
      <div style="text-align: center">

        <img src="/imagenes/contenidos/comunidad1.jpg" alt=""/>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 wow animated fadeInRight slow-a right-first">
      <p><strong>Cuidar el mundo: nuestro pappel,</strong> implementamos campañas de reforestación, así como festivales
        ecológicos, ferias y
        conferencias en materia ambiental, en las comunidades vecinas a nuestras plantas de fabricación de papel, y en
        alianza con las autoridades municipales y organizaciones de la comunidad. En 2013, realizamos 13 campañas de
        reforestación, logrando plantar más de 5,690 árboles en diferentes localidades.</p>

      <p><strong>Échale una mano al medio ambiente,</strong> promovemos la creatividad, y una cultura de cuidado y
        preservación del medio
        ambiente, a través de nuestro concurso de carteles elaborados con materiales reciclados. Recibimos 387 trabajos
        de
        estudiantes de primaria y secundaria, de 10 escuelas participantes.</p>

      <p><strong>A Favor de mi comunidad,</strong> realizamos campañas de limpieza, pintado y mantenimiento de escuelas
        y comunidades
        vecinas. A través de 20 actividades beneficiamos a 2,718 personas de las comunidades vecinas a nuestras plantas.
      </p>
    </div>


    <div class="col-md-6 wow animated fadeInLeft slow-a">
      <div style="text-align: center">

        <img src="/imagenes/contenidos/comunidad4.jpg" alt=""/>

      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-6 wow animated fadeInLeft slow-a">
      <p><strong>Verano bio-pappel,</strong> dimos acceso a nuestras instalaciones a comunidades infantiles y
        estudiantiles de zonas aledañas,
        a fin de darles a conocer el proceso de fabricación de papel y empaques, al mismo tiempo que se sensibilizan
        sobre
        la importancia de una cultura de reciclaje. En 2013, realizamos 16 eventos, impactando directamente a 1,028
        menores.</p>

      <p><strong>Voluntariado bio-pappel,</strong> el involucramiento voluntario de nuestro personal en las comunidades
        en donde tenemos
        presencia sigue siendo una de nuestras fortalezas. En 2013, 1,564 colaboradores donaron tiempo y talento a las
        comunidades vecinas, cifra que representa cerca del 20% del total de nuestro personal.</p>

      <p>Además fortalecimos nuestra estructura de Responsabilidad Social, a través de coordinaciones regionales, las
        cuales
        mantienen un diálogo permanente con nuestros grupos de interés en comunidades vecinas a nuestras plantas, donde
        realizamos un levantamiento de información sobre la situación y características de las diferentes
        comunidades.</p>
    </div>
    <div class="col-md-6 wow animated fadeInRight slow-a">
      <div style="text-align: center">

        <img src="/imagenes/contenidos/comunidad3.jpg" alt=""/>

      </div>
    </div>
  </div>

</div>
