<div id="empleados">
  <h2 class="mt-0">
    Empleados
  </h2>

  <div class="row">
    <div class="col-md-6 animated fadeInLeft slow-a">
      <h3>Generando oportunidades</h3>

      <p>Perseguimos ser uno de los mejores lugares para trabajar, ofreciendo oportunidades de desarrollo y crecimiento
        profesional para nuestros colaboradores. Generamos 8,120 empleos directos y 24,000 indirectos. En 2013, 697
        colaboradores se sumaron a nuestras operaciones de México y Estados Unidos, para fortalecer nuestro modelo de
        negocios. De igual manera, invertimos 153 millones de pesos en la actualización de sistemas de seguridad,
        permitiendo mejorar las condiciones de trabajo de nuestros colaboradores.</p>

      <p>El 100% de nuestro personal cuenta con prestaciones y compensaciones superiores a lo que establece la Ley.
        Dentro
        de los beneficios adicionales más importantes que brindamos a nuestra gente se encuentran: aguinaldo, fondo de
        ahorro, seguro de vida, vales de despensa, premio de puntualidad o asistencia y seguro de gastos médicos. Además
        contamos con un esquema de bonos de acuerdo al desempeño obtenido durante el periodo anterior, en base al
        Programa
        Bio-Talent.</p>

      <p>Para contribuir al desarrollo de las comunidades donde operamos, el reclutamiento de todo nuestro personal
        considera en la medida de lo posible la contratación de residentes locales. Este proceso es responsabilidad de
        la
        Dirección de Capital Humano, en colaboración con las áreas de Relaciones Industriales o Recursos Humanos de cada
        Planta.</p>

      <p>Con el apoyo de cerca de 400 instructores internos registrados ante la STPS, impartimos alrededor de 192,119
        horas
        de capacitación, 2,424 de ellas en modalidad e-learning. De igual manera, logramos sensibilizar a 7,935
        colaboradores en Código de Ética, Política Anti-corrupción y Derechos Humanos.</p>

      <p>Durante 2013, cada uno de nuestros colaboradores recibió en promedio 23 horas de capacitación en temas
        directamente
        relacionados con sus actividades diarias. El 62% de nuestros esfuerzos de capacitación y formación se
        concentraron
        en el personal operativo, mientras que el 32% restante fue para personal administrativo.</p>
    </div>
    <div class="col-md-6 animated fadeInRight slow-a">
      <div style="text-align: center">

        <img class="img-responsive" style="margin-top: 80px" src="/imagenes/contenidos/empleados1.jpg" alt=""/>

      </div>

    </div>
  </div>
  <div class="row">


    <div class="col-md-6 wow animated fadeInRight slow-a right-first">
      <h3>Desarrollando líderes</h3>

      <p>Bio-Talent es el programa de gestión del desempeño de nuestra gente, y tiene el objetivo de definir, monitorear,
        y
        comparar los objetivos y competencias de nuestro personal con las metas de Bio-PAPPEL, impulsando el desarrollo
        del
        potencial individual y colectivo.</p>

      <p>El ciclo de medición del desempeño tiene una duración de un año e inicia con la definición de expectativas,
        estableciendo objetivos individuales y el perfil de competencias esperado para cada puesto.
        Posteriormente, continúa con una revisión intermedia, y finaliza con la evaluación anual.</p>

      <p>2013 fue el segundo año de operación de Bio-Talent, contando con la participación de 172 líderes pertenecientes
        a
        la “Ola 1” de implementación, logrando definir 791 objetivos de desempeño y 303 objetivos de desarrollo.</p>

      <p>De igual forma, en 2013 se sumaron por primera vez al programa 525 colaboradores de la “Ola 2”, representando
        los
        niveles de Gerencias, Subgerencias, Jefaturas, Supervisores y Coordinaciones, definiendo 2,096 objetivos de
        desempeño.</p>

      <p>Con lo anterior, logramos que el 23% de nuestro personal administrativo fuera evaluado, y recibiera
        retroalimentación en cuanto a su desempeño laboral y desarrollo profesional.</p>
    </div>

    <div class="col-md-6 wow animated fadeInLeft slow-a">
      <div style="text-align: center">

        <img class="img-responsive" style="margin-top: 80px" src="/imagenes/contenidos/empleados2.jpg" alt=""/>

      </div>

    </div>


  </div>
  <div class="row">

    <div class="col-md-6 wow animated fadeInLeft slow-a">
      <h3>Generando compromiso</h3>

      <p>Durante 2013 llevamos a cabo actividades de mantenimiento y mejora de nuestro Modelo de Equidad de Género,
        certificación otorgada por el Instituto Nacional de las Mujeres: comunicamos nuestra política corporativa de
        equidad
        de género y garantizamos que el personal de nuevo ingreso tuviera acceso a este documento; realizamos las
        reuniones
        periódicas del comité de equidad de género, donde identificamos áreas de oportunidad y diseñamos planes de
        acción.
        Este comité está integrado por representantes de las áreas de Capital Humano, Salud Ocupacional, Seguridad y
        Medio
        Ambiente, Control Interno y Responsabilidad Social y Comunicación Corporativa. A través de nuestra Línea de
        Denuncia, dimos seguimiento a casos presentados en materia de equidad de género. Comprometidos con las mujeres
        que
        laboran en Bio-PAPPEL, y en cumplimiento con la legislación establecida, garantizamos su puesto de trabajo o uno
        comparable al reincorporarse luego de su licencia por maternidad, sin que ello afecte su remuneración o su
        desarrollo profesional dentro de la Compañía.</p>

      <p>Mantenemos el compromiso de brindar condiciones de trabajo óptimas, a través de altos estándares de salud y
        seguridad ocupacional en procesos, instalaciones y servicios. Nuestro Modelo de Gestión para la Prevención de
        Riesgos Laborales tiene el objetivo de garantizar un sistema de administración de seguridad basado en el respeto
        de
        nuestro personal, el cual nos permitirá asegurar nuestras operaciones con “Cero Accidentes” como objetivo global
        de
        la Compañía.</p>

      <p>Por su parte, la cantidad de personal representado en el Comité de Seguridad Integral y Salud Ocupacional
        supera en
        150% el requerimiento marcado por la NOM- 019-STPS-2011. Organizamos nuestro 6° Congreso Nacional de Seguridad y
        Salud Ocupacional en Ciudad de México, Guadalajara y Monterrey, logrando una cobertura del 100% de nuestras
        Plantas,
        Centros de Acopio y Oficina Corporativa. Contamos con la participación de más de 625 representantes. Asimismo,
        en
        colaboración con Protección Civil, capacitamos a todo nuestro personal de brigadas en Primeros Auxilios,
        búsqueda y
        rescate.</p>

      <p>Conforme a nuestros acuerdos formales realizados con los sindicatos en la firma de los contratos colectivos de
        trabajo, damos seguimiento a nuestro Programa Anual de Salud Ocupacional y continuamos realizando las campañas
        con
        PrevenIMSS. Acercamos beneficios a nuestro personal sindicalizado y administrativo, a través de las Bio-Ferias de
        Salud, con temas como: Diabetes, Hipertensión, Papanicolaou, Salud Bucal, Prevención de Accidentes, Nutrición,
        entre
        otros.</p>
    </div>
    <div class="col-md-6 wow animated fadeInRight slow-a">
      <div style="text-align: center">
        <img class="img-responsive" style="margin-top: 80px" src="/imagenes/contenidos/empleados3.jpg" alt=""/>
      </div>

    </div>
  </div>
</div>
