<div id="estados-finacieros">
<h2 class="mt-0">Documentos financieros</h2>
<section class="split-section bg-scroll bg-dark-alfa-50" data-background="/imagenes/portada/equipo.jpg" id="services" style="max-height: 500px">
  <div class="clearfix relative">

    <!-- Section Headings -->
    <div class="split-section-headings animated fadeInUp">
      <div class="ssh-table">
        <div class="ssh-cell pt-140 pt-sm-70 pt-xs-50 pb-140 pb-sm-70 pb-xs-50">
          <div class="section-title white">
            Estados financieros consolidados
          </div>

          <br>
          <a href="/documentos/estadosfinancieros.pdf" class="btn btn-mod btn-border-white btn-circle" target="_blank">Descargar documento completo</a>
        </div>
      </div>
    </div>
    <!-- End Section Headings -->

    <!-- Section Content -->
    <div class="split-section-content service-grid clearfix">

      <!-- Service Item -->
      <div class="service-item">
        <div class="si-cell">
          <div class="si-inner">
            <div class="service-intro">

              <h3 class="service-title">Estados de situación financiera </h3>
            </div>
            <div class="service-descr">

              <div class="service-button mt-40 mt-lg-20 local-scroll">
                <a href="/documentos/situacionfinanciera.pdf" class="btn btn-mod btn-small btn-circle" target="_blank">Descargar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="service-item">
        <div class="si-cell">
          <div class="si-inner">
            <div class="service-intro">

              <h3 class="service-title">Estados de resultados integrales</h3>
            </div>
            <div class="service-descr">
              <div class="service-button mt-40 mt-md-20 local-scroll">
                <a href="/documentos/resultadosintegrales.pdf" class="btn btn-mod btn-small btn-circle" target="_blank">Descargar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="service-item">
        <div class="si-cell">
          <div class="si-inner">
            <div class="service-intro">

              <h3 class="service-title">Estados de cambios en el capital contable</h3>
            </div>
            <div class="service-descr">

              <div class="service-button mt-40 mt-md-20 local-scroll">
                <a href="/documentos/cambioscapital.pdf" class="btn btn-mod btn-small btn-circle" target="_blank">Descargar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="service-item">
        <div class="si-cell">
          <div class="si-inner">
            <div class="service-intro">

              <h3 class="service-title">Estados de flujo de efectivo </h3>
            </div>
            <div class="service-descr">
              <div class="service-button mt-40 mt-md-20 local-scroll">
                <a href="/documentos/flujosefectivo.pdf" class="btn btn-mod btn-small btn-circle" target="_blank">Descargar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="service-item">
        <div class="si-cell">
          <div class="si-inner">
            <div class="service-intro">

              <h3 class="service-title">Notas a las estados financieros</h3>
            </div>
            <div class="service-descr">
              <div class="service-button mt-40 mt-md-20 local-scroll">
                <a href="/documentos/notas.pdf" class="btn btn-mod btn-small btn-circle" target="_blank">Descargar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="service-item">
        <div class="si-cell">
          <div class="si-inner">
            <div class="service-intro">

              <h3 class="service-title">Informe de los auditores</h3>
            </div>
            <div class="service-descr">
              <div class="service-button mt-40 mt-md-20 local-scroll">
                <a href="/documentos/auditores.pdf" class="btn btn-mod btn-small btn-circle" target="_blank">Descargar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

    </div>
    <!-- End Section Content -->

  </div>
</section>

</div>
