<div id="estrategia">
  <h2>Estrategia</h2>

  <div class="row">
    <div class="col-md-6 animated fadeInLeft slow-a"><h2>Fortaleciendo nuestras ventajas competitivas</h2>

      <p>Continuamos ejecutando acciones enfocadas a fortalecer nuesta “integración vertical”, a través del
        fortalecimiento de nuestros procesos de distribución y cogeneración energética. En la fabricación de nuestros
        productos llevamos a cabo grandes esfuerzos para adelantar las tendencias de nuestro sector (papel para empaques
        y escritura), mediante la oferta de productos sustentables y amigables con el ambiente, cuidando los árboles y
        mantos acuíferos.</p>

      <p>El fortalecimiento de nuestro servicio y el desarrollo de nuestra red de relaciones estratégicas sigue
        orientándose a mantener y expander nuestro portafolio de clientes, en busca de consolidar una base de ventas
        balanceada y una amplia fuente de insumos (fibras OCC y ONP).</p>
    </div>
    <div class="col-md-6 animated fadeInRight slow-a">
      <img class="center-block" style="" src="/imagenes/contenidos/estrategia.png" alt=""/></div>
  </div>


  <div class="row">

    <div class="col-md-6 wow animated fadeInRight slow-a right-first"><h2>Aprovechamiento de insumos y activos</h2>


      <p>Maximizamos la operación de nuestras plantas minimizando el consumo de energía y agua, permitiendo tener
        márgenes más amplios. Buscamos el posicionamiento estratégico de nuestras plantas para una operación
        eficiente:</p>


      <ul>
        <li>Cercana a la captación de insumos, fibras OCC (Old Corrugated Container) y ONP (Old Newspaper); y,</li>
        <li>Óptima para la distribución de nuestros productos.</li>

      </ul>
    </div>


    <div class="col-md-6 wow animated fadeInLeft slow-a right-first">
      <img class="center-block" style="margin-top: 30px" src="/imagenes/contenidos/turbina2.jpg" alt=""/></div>


  </div>


  <div class=" wow animated zoomIn slow-a"><h2>Crecimiento e inversión</h2>

  <p>En lo referente a crecimiento endógeno, Bio Pappel ha invertido en los últimos 10 años cerca de US$437 mills. en la
    más avanzada tecnología industrial de reciclado, permitiéndole dejar atrás el uso de árboles como materia prima,
    sustituyendo así “el bosque forestal” por el “bosque urbano”. De igual manera, se han llevado a cabo inversiones
    estratégicas en co-generación, ejemplo de ello es nuestra cuarta planta de co-generación, en Veracruz, capaz de
    producir 20 MWh, y generar 41 Ton. de vapor por hora.</p>

  <p>A través de su historia, Bio Pappel ha ejecutado diversas adquisiciones estratégicas, que le han permitido
    fortalecer su posicionamiento, entre las que encontramos la adquisición del Grupo Industrial Papelero Atenquique,
    Empresas Titán, el complejo industrial papelero McKinley Paper Company, y Grupo PIPSA. Recientemente, anunciamos
    nuestra intención de adquirir el Grupo Papelero Scribe con el objetivo de fortalecer nuestro posicionamiento en el
    segmento de papel para escritura.</p>

  <h2>Penetración de mercados</h2>

  <p>Debido a la creciente demanda de productos amigables con el medio ambiente, y a nuestra independencia productiva de
    las plantaciones de árboles, hallamos una coyuntura adecuada para la expansión de nuestros mercados. Nuestros
    equipos de ventas y mercadotecnia trabajan de manera constante para identificar y desarrollar nuevos mercados,
    apoyados en todo momento por nuestras áreas de desarrollo e investigación, que desarrollan productos ad hoc para
    ello. Actualmente los productores de frutas y vegetales, y los sectores manufacturero y de medios e impresión (en
    México y E.U.A.), son claves en nuestra estrategia de ventas.</p>
</div>
  <div class="row">
    <div class="col-md-6 wow animated fadeInLeft slow-a">
      <h2>Sustentabilidad</h2>

      <p>Entendemos la sustentabilidad más allá de un compromiso con el ambiente: la consideramos un elemento
        trascendental para mantener nuestra ventaja competitiva en costos de producción y capital, y un diferenciador
        clave para preservar y expandir nuestro posicionamiento.</p>

      <p>El crecimiento sustentable para nosotros es un modelo de “ganar-ganar”, donde entregamos valor a nuestros
        accionistas y grupos de interés, a la par de ayudar fuertemente a la preservación de nuestro entorno. Gracias a
        “bosque urbano” hemos logrado recuperar y reutilizar más 5.5 mills. de tons. de papel y cartón entre 2010 y
        2013.</p>

      <h2>Solidez financiera</h2>

      <p>Durante 2013, Bio Pappel realizó un prepago por US$50 mills. sobre el monto principal de sus Senior Guaranteed
        Notes con vencimiento en 2016; fortaleciendo su generación de flujos de efectivo al disminuir el servicio de la
        deuda en aproximadamente US$5 mills. al año.</p>

    </div>
    <div class="col-md-6 wow animated fadeInRight slow-a">
      <div style="text-align: center">

        <img style="margin-top: 60px" src="/imagenes/contenidos/estrategia2.jpg" alt=""/>

      </div>
    </div>
  </div>


</div>
