<div id="estructura"><!-- Alternative Services Section -->



  <section class="page-section bg-light-alfa" data-background="/images/full-width-images/section-bg-6.jpg" style="padding-top: 0px;">
    <div class="container relative">

      <!-- Section Headings -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

          <div class="section-title">
            <h2>Administración</h2>
          </div>

          <h2 class="section-heading">Nuestra gente es nuestro mejor activo.</h2>

          <div class="section-line mb-60 mb-xxs-30"></div>

          <div class="section-text mb-60 mb-xxs-30">
            Hemos sido reconocidos como “Great Place to Work”.
          </div>

        </div>
      </div>
      <!-- End Section Headings -->

      <!-- Service Grid -->
      <div class="alt-service-grid">
        <div class="row">


          <div class="col-sm-6 col-md-3 col-lg-3">

            <!-- Alt Service Item -->
            <div class="alt-service-wrap">
              <div class="alt-service-item wow animated fadeIn slow-a">
                <div class="alt-service-icon">
                  <span class="icon-users"></span>
                </div>
                <h3  class="alt-services-title" style="position: relative; right: -40px; top: 7px;">Consejo de Administración </h3>



                <table style="margin-top: 20px;">

                  <tr style="height: 1px;">
                    <th width="60%"></th>
                    <th width="40%"></th>
                  </tr>

                  <tr>
                    <td> Miguel Rincón Arredondo</td>
                    <td>(Presidente)</td>
                  </tr>
                  <tr>
                    <td>José Antonio Rincón Arredondo</td>
                    <td>(Consejero Titular)</td>
                  </tr>

                  <tr>
                    <td>Mayela Rincón de Velasco  </td>
                    <td>(Consejero Titular) </td>
                  </tr>

                  <tr>
                    <td>Ignacio Rincón Arredondo  </td>
                    <td>(Consejero Titular) </td>
                  </tr>

                  <tr>
                    <td>Jesús Rincón Arredondo  </td>
                    <td>(Consejero Titular) </td>
                  </tr>

                  <tr>
                    <td>Wilfrido Rincón Arredondo  </td>
                    <td>(Consejero Titular) </td>
                  </tr>

                  <tr>
                    <td>Martín Rincón Arredondo  </td>
                    <td> (Consejero Titular)</td>
                  </tr>

                  <tr>
                    <td>Ángel del Palacio  </td>
                    <td>(Consejero Titular) </td>
                  </tr>

                  <tr>
                    <td>Buenaventura González Saravia  </td>
                    <td>(Consejero Titular) </td>
                  </tr>

                  <tr>
                    <td>Alfonso Fernández de Castro </td>
                    <td> (Consejero Titular) </td>
                  </tr>




                </table>

              </div>


            </div>
            <!-- End Service Item -->


          </div>


          <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">

            <div class="alt-services-image wow animated fadeInUp slow-a">
              <img style="margin-top: 95px;" src="/imagenes/contenidos/estructura.jpg" alt=""/>
            </div>

          </div>


          <div class="col-sm-6 col-md-3 col-lg-3">


            <!-- Alt Service Item -->
            <div class="alt-service-wrap">
              <div class="alt-service-item wow animated fadeIn slow-a">
                <div class="alt-service-icon">
                  <span class="icon-briefcase"></span>
                </div>
                <h3  class="alt-services-title" style="position: relative; right: -50px; top: 7px;">Cuerpo Ejecutivo</h3>

                <table id="cuerpo-ejectutivo-tabla" style="margin-top: 20px;">
                  <tr style="height: 1px;">
                    <th width="40%"></th>
                    <th width="60%"></th>
                  </tr>

                  <tr>
                    <td>Miguel Rincón Arredondo  </td>
                    <td>(Director General) </td>
                  </tr>

                  <tr>
                    <td>Martín Rincón Arredondo  </td>
                    <td>(Director de Competitividad y Sustentabilidad) </td>
                  </tr>

                  <tr>
                    <td> Mayela Rincón de Velasco </td>
                    <td>(Directora de Finanzas y Administración) </td>
                  </tr>

                  <tr>
                    <td>Wilfrido Rincón Arredondo  </td>
                    <td>(Director de Grupo Gigante Printing y Kraft) </td>
                  </tr>

                  <tr>
                    <td>Ignacio Rincón Arredondo  </td>
                    <td>(Director de Grupo Gigante International) </td>
                  </tr>
                  <tr>
                    <td>Miguel Rincón Barraza  </td>
                    <td>(Director de Grupo Gigante Packaging) </td>
                  </tr>
                  <tr>
                    <td>Gustavo Peyro Medina  </td>
                    <td>(Director de Auditoría y Sistemas) </td>
                  </tr>
                  <tr>
                    <td>Jesús Romo Carrasco  </td>
                    <td>(Contralor Corporativo) </td>
                  </tr>
                  <tr>
                    <td>Gabriel Villegas Salazar  </td>
                    <td>(Director Jurídico) </td>
                  </tr>

                </table>



              </div>



            </div>
            <!-- End Service Item -->


          </div>


        </div>
      </div>
      <!-- End Service Grid -->

    </div>
  </section>
  <!-- End Alternative Services Section -->
  <!-- Some Facts Section -->
  <section class="page-section" id="counts">
    <div class="container relative">

      <!-- Counters -->
      <div class="row">

        <!-- Counter Item -->
        <div class="col-xs-6 col-sm-4">
          <div class="count-number">
            17
          </div>
          <div class="count-descr">
            <i class="fa fa-briefcase"></i>
            <span class="count-title">Años de Experiencia* <br>de nuestros directivos</span>
          </div>
        </div>
        <!-- End Counter Item -->

        <!-- Counter Item -->
        <div class="col-xs-6 col-sm-4">
          <div class="count-number">
            23
          </div>
          <div class="count-descr">
            <i class="fa fa-user"></i>
            <span class="count-title">Años de Experiencia* <br>de nuestros consejeros</span>
          </div>
        </div>
        <!-- End Counter Item -->

        <!-- Counter Item -->
        <div class="col-xs-12 col-sm-4">
          <div class="count-number">
            8120
          </div>
          <div class="count-descr">
            <i class="fa fa-group"></i>
            <span class="count-title">Equipo de <br>Colaboradores</span>
          </div>
        </div>
        <!-- End Counter Item -->



      </div>
      <!-- End Counters -->

    </div>
  </section>

<div class="row">

  <div class="col-md-12">
  <p class="leyenda-tabla" style="position: relative; left: 10%;">
    * En promedio.<br/>
  </p>
</div>

</div>

  <!-- End Some Facts Section -->
</div>
