<div id="estructura">
  <div class="alt-service-wrap">
    <div class="alt-service-item wow animated fadeIn slow-a">
      <div class="alt-service-icon">
        <span class="icon-users"></span>
      </div>
      <h3 class="alt-services-title" style="position: relative; right: -40px; top: 7px;">Consejeros Patrimoniales Relacionados</h3>
      <br/>
      <table class="table table-bordered">

        <tbody>
        <tr>
          <td>Ángel Losada Moreno</td>
          <td>Presidente del Consejo de Administración y Director
            General de Grupo Gigante
          </td>
        </tr>
        <tr>
          <td>Braulio Antonio Arsuaga Losada</td>
          <td>Director General de Grupo Presidente</td>
        </tr>

        <tr>
          <td>Gonzalo Barrutieta Losada</td>
          <td>Presidente del Consejo Operadora IPC de México</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="alt-service-wrap">
    <div class="alt-service-item wow animated fadeIn slow-a">
      <div class="alt-service-icon">
        <span class="icon-users"></span>
      </div>
      <h3 class="alt-services-title" style="position: relative; right: -40px; top: 7px;">Consejeros Relacionados</h3>
      <br/>
      <table class="table table-bordered">

        <tbody>
        <tr>
          <td> José Alverde Losada</td>
          <td>Director General de Desarrolladora A&L</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alt-service-wrap">
    <div class="alt-service-item wow animated fadeIn slow-a">
      <div class="alt-service-icon">
        <span class="icon-users"></span>
      </div>
      <h3 class="alt-services-title" style="position: relative; right: -40px; top: 7px;">Consejeros Independientes</h3>
      <br/>
      <table class="table table-bordered">

        <tbody>
        <tr>
          <td>Roberto Salvo Horvilleur</td>
          <td>Consejero en varias empresas de México y Centroamérica</td>
        </tr>
        <tr>
          <td>Lorenzo Peón Escalante</td>
          <td>Consejero independiente en varias empresas</td>
        </tr>
        <tr>
          <td>Javier Molinar Horcasitas</td>
          <td>Socio Director de Ventura Capital Privado, S.A. de C.V.</td>
        </tr>
        <tr>
          <td>Gilberto Pérezalonso Cifuentes</td>
          <td>Consejero Independiente en varias empresas</td>
        </tr>
        <tr>
          <td>Luis Rebollar Corona</td>
          <td>Consejero independiente en varias empresas</td>
        </tr>
        <tr>
          <td>Luis Santana Castillo</td>
          <td>Consejero independiente en varias empresas</td>
        </tr>
        <tr>
          <td>Manuel Somoza Alonso</td>
          <td>Presidente de Estratégias de CI Banco por Somoza Musi</td>
        </tr>
        <tr>
          <td>Alfonso Salem Slim</td>
          <td>Presidente del Consejo de Administración
            de Inmuebles Carso
          </td>
        </tr>
        <tr>
          <td>Juan Carlos Mateos Durán De Huerta</td>
          <td>Director de Administración y Finanzas de Grupo Pochteca</td>
        </tr>
        <tr>
          <td>Javier Martínez Del Campo Lanz</td>
          <td>Secretario del Consejo de Grupo Gigante, S.A.B. de C.V.</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="alt-service-wrap">
    <div class="alt-service-item wow animated fadeIn slow-a">
      <div class="alt-service-icon">
        <span class="icon-users"></span>
      </div>
      <h3 class="alt-services-title" style="position: relative; right: -40px; top: 7px;">Comité De Auditoría</h3>
     <br/>
      <table class="table table-bordered">

        <tbody>
        <tr>
          <td> Luis Santana Castillo</td>
          <td>Presidente</td>
        </tr>
        <tr>
          <td> Roberto Salvo Horvilleur</td>
          <td></td>
        </tr>
        <tr>
          <td>Luis Rebollar Corona</td>
          <td></td>
        </tr>
        <tr>
          <td>Ernesto Valenzuela Espinoza</td>
          <td>Secretario</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alt-service-wrap">
    <div class="alt-service-item wow animated fadeIn slow-a">
      <div class="alt-service-icon">
        <span class="icon-users"></span>
      </div>
      <h3 class="alt-services-title" style="position: relative; right: -40px; top: 7px;">Comité De Prácticas Societarias</h3>
    <br/>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>Roberto Salvo Horvilleur</td>
          <td>Presidente</td>
        </tr>
        <tr>
          <td>Gilberto Pérezalonso Cifuentes</td>
          <td></td>
        </tr>
        <tr>
          <td>Luis Santana Castillo</td>
          <td></td>
        </tr>
        <tr>
          <td>Sergio Montero Querejeta</td>
          <td>Secretario</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alt-service-wrap">
    <div class="alt-service-item wow animated fadeIn slow-a">
      <div class="alt-service-icon">
        <span class="icon-users"></span>
      </div>
      <h3 class="alt-services-title" style="position: relative; right: -40px; top: 7px;">Comité de Finanzas y Planeación</h3>
    <br/>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>Javier Molinar Horcasitas</td>
          <td>Presidente</td>
        </tr>
        <tr>
          <td>Ángel Losada Moreno</td>
          <td></td>
        </tr>
        <tr>
          <td>Juan Carlos Mateos Durán De Huerta</td>
          <td></td>
        </tr>
        <tr>
          <td>Manuel Somoza Alonso</td>
          <td></td>
        </tr>
        <tr>
          <td>Sergio Montero Querejeta</td>
          <td>Secretario</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
