
<link rel="stylesheet" href="/css/glosario.css">
<!--<script type="text/javascript" src="/js/glosario.js"></script>-->


<div id="glosario" class="col-md-12">


<h3>Glosario</h3>


<%= erb :"/layouts/contenidos/glosario-indice" %>


<table class="table table-striped table-bordered">
<thead>
<tr>
  <th style="width: 30%;">
    Conceptos
  </th>
  <th>
  </th>
</tr>
</thead>

<!--Comienzo-->

<tbody>

<tr>
  <td>ADR</td>
  <td>Siglas en Inglés de “American Depositary Receipt”. Es un certificado de depósito denominado en Dólares, por
    medio del cual el tenedor tiene propiedad de capital sobre una Compañía no constituida conforme a las leyes de los
    Estados Unidos de América. Un ADR también concede derechos económicos y corporativos (sujetos a los términos
    estipulados en el Certificado de Depósito Americano o ADS por sus siglas en inglés).
  </td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="B" class="gloss-letra">B</div>
      </a>
    </div>
  </td>
</tr>

<tr>
  <td>Bondholders</td>
  <td>Tenedores de Deuda de acuerdo al contrato de deuda (Indenture) firmado el 27 de agosto de 2009 con vencimiento
    en agosto de 2016.
  </td>
</tr>

<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="C" class="gloss-letra">C</div>
      </a>
    </div>
  </td>
</tr>

<tr>
  <td>Cámara Nacional de las Industrias de la Celulosa y del Papel</td>
  <td>Organismo representativo de las industrias de la Celulosa y del Papel integrado aproximadamente por 26 empresas
    en México.
  </td>
</tr>

<tr>
  <td>CFE</td>
  <td>Siglas de “Comisión Federal de Electricidad”. Empresa paraestatal encargada de controlar, generar, transmitir y
    comercializar energía eléctrica en todo el territorio mexicano.
  </td>
</tr>
<tr>
  <td>Covenants</td>
  <td>Limitaciones de hacer y no hacer, contenidos en el Indenture.</td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="E" class="gloss-letra">E</div>
      </a>
    </div>
  </td>
</tr>


<tr>
  <td>EPA</td>
  <td>Siglas en Inglés de “Environmental Protection Agency”. Departamento de Protección al Medio Ambiente en los
    Estados Unidos de América. Su semejante en México es la Secretaría del Medio Ambiente y Recursos Naturales.
  </td>
</tr>


<tr>
  <td>ERP</td>
  <td>Siglas en inglés de “Enterprise Resource Planning”. Son sistemas de información gerenciales que integran y
    manejan muchos de los negocios asociados con las operaciones de producción y de distribución de una compañía en la
    producción de bienes o servicios.
  </td>
</tr>


<tr>
  <td>Estados Unidos o E.U.A</td>
  <td>Los Estados Unidos de América.</td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="G" class="gloss-letra">G</div>
      </a>
    </div>
  </td>
</tr>


<tr>
  <td>GEI</td>
  <td>Siglas de “Gases de Efecto Invernadero”.</td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="I" class="gloss-letra">I</div>
      </a>
    </div>
  </td>
</tr>


<tr>
  <td>Indenture</td>
  <td>Contrato de deuda celebrado el 27 de agosto de 2009 con vencimiento en 2016.</td>
</tr>


<tr>
  <td>Indeval</td>
  <td>S.D. INDEVAL Institución para el Depósito de Valores, S.A. DE C.V.</td>
</tr>



<tr>
  <td>IETU</td>
  <td>Siglas de “Impuesto Empresarial a Tasa Única”. Impuesto que grava la utilidad determinada con base en flujos de
    efectivo, sólo cuando éste excede al ISR a cargo.
  </td>
</tr>


<tr>
  <td>INPC</td>
  <td>Siglas de “Índice Nacional de Precios al Consumidor”. Indicador económico diseñado específicamente para medir el
    cambio promedio de los precios en el tiempo, mediante una canasta ponderada de bienes y servicios representativa
    del consumo de las familias urbanas de México. Es el indicador oficial de la inflación en México.
  </td>
</tr>


<tr>
  <td>ISR</td>
  <td>Siglas de “Impuesto Sobre la Renta”. Impuesto que grava las utilidades obtenidas por las personas físicas y
    morales.
  </td>
</tr>




<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="L" class="gloss-letra">L</div>
      </a>
    </div>
  </td>
</tr>


<tr>
  <td>LIBOR</td>
  <td>Siglas en Inglés de “London Interbank Offered Rate”. Tasa que los bancos del mercado interbancario de Londres
    ofrecen para los depósitos en Dólares con vencimientos variables.
  </td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="M" class="gloss-letra">M</div>
      </a>
    </div>
  </td>
</tr>



<tr>
  <td>México</td>
  <td>Los Estados Unidos Mexicanos.</td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="N" class="gloss-letra">N</div>
      </a>
    </div>
  </td>
</tr>


<tr>
  <td>NAFTA</td>
  <td>Siglas en Inglés de “North American Free Trade Agreement”. Tratado de Libre Comercio de América del Norte,
    conocido también por TLC o TLCAN por sus siglas en español.
  </td>
</tr>



<tr>
  <td>NIF</td>
  <td>Siglas de “Normas de Información Financiera” emitidas por el Consejo Mexicano para la Investigación y Desarrollo
    de Normas de Información Financiera, A.C. (CINIF). Normas cuya filosofía es lograr, por una parte, la armonización
    de las normas locales utilizadas por los diversos sectores de nuestra economía; y, por otro lado, converger en el
    mayor grado posible, con las Normas Internacionales de Información Financiera emitidas por el International
    Accounting Standard Board (IASB).
  </td>
</tr>


<tr>
  <td>NIIF</td>
  <td>Siglas de “Normas Internacionales de Información Financiera” o IFRS por sus siglas en inglés. Normas contables
    de carácter global.
  </td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="O" class="gloss-letra">O</div>
      </a>
    </div>
  </td>
</tr>



<tr>
  <td>OCC</td>
  <td>Siglas en Inglés de “Old Corrugated Container”. Cartón corrugado reciclado usado.</td>
</tr>

<tr>
  <td>ONP</td>
  <td>Siglas en Inglés de “Old News Print”. Papel periódico reciclado usado.</td>
</tr>



<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="P" class="gloss-letra">P</div>
      </a>
    </div>
  </td>
</tr>


<tr>
  <td>PIB</td>
  <td>Siglas de “Producto Interno Bruto”. Valor monetario de los bienes y servicios finales producidos por una
    economía en un período determinado; es un indicador representativo que ayuda a medir el crecimiento o
    decrecimiento de la producción de bienes y servicios de las empresas de cada país.
  </td>
</tr>


<tr>
  <td>Pink OTC Markets, Inc</td>
  <td>Compañía privada de Estados Unidos de América, no registrada ante la SEC. Pink OTC Markets, Inc. no requiere que
    las Compañías, cuyos valores cotizan en sus sistemas, cumplan requerimientos para estar listadas.
  </td>
</tr>

<tr>
  <td>Pink Sheets</td>
  <td>Significa las “Hojas Rosas”, es decir, el servicio centralizado de cotizaciones para valores OTC (“over-
    the-counter”).
  </td>
</tr>


<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="R" class="gloss-letra">R</div>
      </a>
    </div>
  </td>
</tr>


<tr>
  <td>Registro</td>
  <td>Registro Nacional de Valores (RNV). Organismo público a cargo de la Comisión Nacional Bancaria y de Valores
    (CNBV), en el que se inscriben los valores objeto de oferta pública e intermediación en el mercado de valores en
    México.
  </td>
</tr>

<tr>
  <td>Reporte Anual</td>
  <td>Se refiere a la Circular Única de Emisoras, conforme a lo establecido en la LMV.</td>
</tr>



<!--Letra-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="S" class="gloss-letra">S</div>
      </a>
    </div>
  </td>
</tr>



<tr>
  <td>SENTRA</td>
  <td>Siglas de “Sistema Electrónico de Negociación de Transacciones, Registro y Asignación”. Sistema Automático
    utilizado por la Bolsa Mexicana de Valores para la negociación, asignación y registro de valores negociados.
  </td>
</tr>



</tbody>
</table>


</div>




