
<div id="gobierno-corporativo">
<h2 class="mt-0">Gobierno corporativo </h2>

<h3>Compromiso</h3>


<div class="row">
  <div class="col-md-6 animated fadeInLeft slow-a">

    <br/>
    <p>En Grupo Gigante, trabajamos para asegurar que nuestra compañía promueva la transparencia financiera, la responsabilidad social y ambiental, y los altos estándares éticos.</p>

    <p>Hemos construido una base responsable de gobierno corporativo, donde cimentamos nuestro negocio y generamos los resultados que nuestros accionistas, clientes, colaboradores y otros grupos de interés esperan.</p>
  </div>


  <div class="col-md-6  animated fadeInRight slow-a">
    <img class="center-block" style="" src="/imagenes/contenidos/gobierno-corporativo.jpg" alt=""/></div>
</div>
<div class="row">
<div class="col-md-6 wow animated fadeInLeft slow-a">
<h3>Órganos de Gobierno</h3>
<p>Grupo Gigante ha establecido comités enfocados a una óptima gestión, entre los que destacan:</p>

<ul>
  <li>Comité de Auditoría y Prácticas Societarias</li>
  <li>Comité de Finanzas y Planeación</li>
</ul>


<p>Los comités de Grupo Gigante se han constituido con el objetivo de cuidar los intereses de sus accionistas, y cumplir con la normatividad y las mejores prácticas de gobierno corporativo.</p>

</div>
<div class="col-md-6 wow animated fadeInRight slow-a">
  <h3>Estuctura accionaria</h3>
  <img class="center-block" style="" src="/imagenes/contenidos/estructura-accionaria.png" alt=""/></div>
</div>
</div>


  <h3>Comité de Auditoría y Prácticas Societarias (CAyPS)</h3>

  <p>Recomienda auditores externos al Consejo de Administración, así como sugiere los términos y condiciones de sus servicios, además de supervisarlos, y asegurarse de su independencia. Revisa y entrega al Consejo de Administración la base para la información financiera. Revisa el plan de trabajo, dictámenes y comunicados de los auditores. Ayuda a implementar y evaluar la efectividad del sistema de control interno y de los programas de auditoría interna. Coordina auditorías internas y externas, y verifica el cumplimiento de los estatutos y reglamentos de la Compañía. Así mismo, es responsable por la revisión y evaluación de cualquier transacción con nuestros accionistas o partes relacionadas. Los siguientes consejeros independientes lo integran:</p>


  <p>Buenaventura González Saravia (Presidente)</p>

  <p>Alfonso Fernández de Castro (Miembro Titular)</p>

  <p>Ángel del Palacio Elizondo (Miembro Titular)</p>
