<div id="hechos-futuros" class="erb col-md-12">
  <div class="row">
    <h2>Hechos Futuros</h2>
  <div class="col-md-6">



  <p>En el presente Informe Anual, los términos “Grupo Gigante”, “la Compañía”, “la Emisora”, “nosotros” y “nuestro” hacen
    referencia a Grupo Gigante, S.A.B. de C.V. y sus subsidiarias consolidadas, en la manera que el contexto lo requiera.
    Somos una corporación constituida y organizada bajo las leyes de los Estados Unidos Mexicanos o México.</p>


  <p>Este Informe Anual contiene declaraciones de expectativas que involucran riesgos sustanciales e incertidumbre,
    incluyendo algunas declaraciones particulares acerca de nuestros planes y estrategias. En el contenido del presente
    se pueden identificar declaraciones por medio de palabras como “anticipamos”, “creemos”, “podríamos”, “estimamos”,
    “esperamos”, “tenemos pensado”, “puede que” y “deberíamos” o palabras similares. Estas declaraciones se deben leer
    cuidadosamente ya que mencionan nuestras expectativas de información a futuro. Aún, cuando creemos que es importante
    comunicar dichas expectativas a nuestros inversionistas, pudieran presentarse eventos en el futuro que no podamos
    predecir con exactitud o controlar, que nos impidieran cumplirlas.</p>
</div>
<div class="col-md-6">
  <img class="center-block" style="" src="/imagenes/contenidos/torre.jpg" alt=""/></div>
</div>

</div>
