<div id="home_store">
  <div class="row">
    <div class="col-md-6 slideInRight">
      <p>2014 representó un año de cambios
        al interior de The Home Store y
        es que justo en su sexto año de
        operaciones, decidió innovar todavía
        más con la intención de atraer a
        mayor número de clientes, manteniendo
        la calidad de sus productos
        y fortaleciendo las alianzas estratégicas
        con otras Unidades de Negocio
        de Grupo Gigante.</p>

      <p>Estas acciones le permitieron llegar
        a la región del Bajío, específicamente
        en Juriquilla, Querétaro, donde
        inauguró una tienda en el centro
        comercial Antea, con lo que sumó
        1,350 metros cuadrados a su superficie
        de ventas. De esta forma, la empresa
        cuenta con 16 establecimientos
        en 8 entidades de la República
        Mexicana, con más de 22 mil metros
        cuadrados de piso de ventas.</p>

      <p>El plan estratégico de esta Unidad
        de Negocio plantea visualizarse
        en el mediano plazo como la
        cadena de moda-hogar líder en el
        país, dentro de su nicho de mercado
        objetivo.</p>

      <p>Para 2015 está programada la
        apertura de varias tiendas, destacando
        la de Veracruz, con la cual
        The Home Store incursionará en
        otro punto neurálgico y con enorme
        crecimiento en el país. Es asi que la
        Firma vislumbra un crecimiento
        permanente en las principales ciudades
        de la República Mexicana,
        con la intención de dar a conocer
        su innovador concepto de diseño,
        decoración y servicio especializado,
        de ahí que haya iniciado el camino
        para mostrar cambios internos
        que le permitan seguir avanzando.</p>

      <p>Durante el 2015 THS presentará
        una nueva imagen y diferentes
        novedades en su oferta al consumidor,
        para ofrecer un estilo de
        tienda vanguardista y de tendencia.
        Estos ajustes pretenden posicionar
        a la marca a través de una
        propuesta más fresca y que refuerce
        su autoridad en lo referente
        a la moda del hogar.</p>

      <p>Con la propuesta de The Home
        Store, es fácil sentirse como en casa.</p>

    </div>
    <div class="col-md-6 slideInRight">
      <div style="text-align: center">

        <img src="/imagenes/contenidos/hs.jpg" alt=""/>

      </div>
    </div>

  </div>

</div>