<div id="inversionistas">
  <h2 class="mt-0">Inversionistas</h2>
  <div class="row">

    <div class="col-md-6 animated fadeInLeft slow-a" >
      <h3>Enfoque integral de generación de valor</h3>
      <p>A través de la integración vertical de nuestras operaciones: recolección de fibra OCC y ONP; cogeneración
        energética; logística de distribución; y, desarrollo de productos y mercados, buscamos la expansión constante de
        nuestros márgenes de beneficios y la autosuficiencia en nuestra cadena de producción.</p>

      <p>Contamos con un portafolio bien diversificado y balanceado de clientes, a manera de aminorar riesgos y
        dependencia en nuestras fuentes de generación de ingresos, a la par de fortalecer constantemente nuestro
        servicio, caracterizado por su personalización y su enfoque hacia las relaciones estratégicas. </p>

      <p>Las decisiones de negocio que hemos tomado en ejercicios anteriores han adelantado las tendencias del mercado y
        nos permiten, hoy en día, operar con productos competitivos, que basan su atractivo en su carácter sustentable y
        amigable con el ambiente, haciéndonos líder en nuestro sector, con una producción anual que asciende a 2.5
        mills. de tons.</p>

    </div>
    <div class="col-md-6 animated fadeInRight slow-a">
        <div style="text-align: center">

            <img style="margin-top: 80px" src="/imagenes/contenidos/empresa.jpg" alt=""/>

          </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 wow animated fadeInRight slow-a right-first">
      <h3>Crecimiento e inversión</h3>
      <p>Hemos invertido en los últimos 10 años cerca de US$437 mills. en la más avanzada tecnología industrial de
        reciclado, permitiéndo dejar atrás el uso de árboles como materia prima en la fabricación de papel, sustituyendo
        al “bosque forestal” por el “bosque urbano”. De igual manera, se han llevado a cabo inversiones estratégicas en
        co-generación y aprovechamiento de bio-masa, en pro de la maximización de recursos, ejemplo de ello es nuestra
        cuarta planta de co-generación, en Veracruz, capaz de producir 20 MWh, y generar 41 Ton. de vapor por hora.</p>

      <p>Continuamos ejecutando adquisiciones estratégicas, para fortalecer nuestro posicionamiento, a través de
        crecimiento exógeno, recientemente anunciamos nuestro acuerdo para adquirir hasta el 100% de las acciones de
        Grupo Papelero Scribe en pro de robustecer nuestra operación en el segmento de papel para impresión y
        escritura.</p>

    </div>



    <div class="col-md-6 wow animated fadeInLeft slow-a">
      <div style="text-align: center">

        <img style="margin-top: 80px" src="/imagenes/contenidos/energy.jpg" alt=""/>

      </div>
    </div>


  </div>

  <div class="row">

    <div class="col-md-6 wow animated fadeInLeft slow-a">
      <h3>Penetración de mercados</h3>
      <p>Debido a la creciente demanda de productos amigables con el medio ambiente, y a nuestra independencia
        productiva de las plantaciones de árboles, estamos bien apuntalados para incrementar nuestra participación en la
        industria del papel. Nuestros equipos de ventas y mercadotecnia trabajan de manera constante para identificar y
        desarrollar nuevos mercados. En 2013 lanzamos nuestra marca propia Hoja Cero / Cero Árboles, la línea de papel
        bond blanco, 100% reciclado, de alta calidad para uso profesional y escolar. Somos el proveedor más confiable y
        competitivo en la industria editorial, siendo el mayor proveedor de los periódicos y libros que se publican
        diariamente en México.</p>

      <p>Actualmente los productores de frutas y vegetales, y los sectores manufacturero y de medios e impresión (en
        México y E.U.A.), son claves en nuestra estrategia de ventas. Somos la empresa número uno en la fabricación de
        cajas de cartón corrugado y sacos de papel (donde somos el proveedor favorito de la industria cementera, del
        yeso, cal y harinas.</p>
    </div>
    <div class="col-md-6 wow animated fadeInRight slow-a">
      <div style="text-align: center">

        <img style="margin-top: 80px" src="/imagenes/contenidos/periodicos.jpg" alt=""/>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 wow animated fadeInRight slow-a">
      <h3>Solidez financiera</h3>
      <p>Durante 2013, realizamos un prepago por US$50 mills. sobre el monto principal de nuestros Senior Guaranteed
        Notes con vencimiento en 2016; fortaleciendo nuestra generación de flujos de efectivo, al disminuir el servicio
        de nuestra deuda en aproximadamente US$5 mills. al año. Actualmente, Fitch califica nuestra deuda en “B”, con
        perspectiva “positiva”</p>

      <p>El 5% de nuestras utilidades netas es ubicado en nuestra reserva legal, hasta que ésta sea igual a por lo menos
        el 20% del capital social de la Compañía. Al 25 de abril de 2014, nuestra reserva legal ascendía a Ps 375.7
        millones. </p>
    </div>

    <div class="col-md-6 wow animated fadeInLeft slow-a right-first">
      <div style="text-align: center">

        <img style="margin-top: 80px" src="/imagenes/contenidos/monitor.jpg" alt=""/>

      </div>
    </div>


  </div>
</div>
