<div id="office_depot">

  <h3>Office Depot</h3>

  <div class="row">
    <div class="col-md-6  slide"><p>Durante el año que se reporta, Office
      Depot de México dio seguimiento
      puntual a su plan de crecimiento orgánico,
      con la apertura de 14 tiendas
      en México y una más en Centroamérica,
      además de adquirir los derechos
      para desarrollar en el Caribe su exitoso
      modelo de negocios, incorporándose
      una tienda y un Centro de
      Distribución en República Dominicana,
      siendo éste el país número 8 donde
      la Cadena tiene presencia.</p>

      <p>De esta manera, Office Depot de
        México finalizó 2014 con 302 unidades,
        reafirmándose como la empresa
        líder en México y con presencia en
        Centroamérica, Colombia y ahora en
        el Caribe, en República Dominicana.
        Cuenta con 10 Centros de Distribución,
        una planta de impresión y un
        Cross Dock, además de dar empleo
        directo a más de 9 mil 800 personas.</p>

      <p>A inicios del segundo trimestre del
        año Office Depot de México adquirió
        Casa Marchand, compañía dedicada
        a la venta de artículos escolares
        con 23 unidades de
        negocio en México y con amplia
        presencia en el Distrito Federal y 8
        estados de la República Mexicana.
        Ya consolidada la operación, que le
        permitirá llegar al segmento de
        mayoreo en venta de artículos de
        oficina, se abrió 1 unidad más, finalizando
        el año con 24 tiendas.</p>
    </div>
    <div class="col-md-6 slide">
      <div style="text-align: center">

        <img src="/imagenes/contenidos/od6s.jpg" alt=""/>

      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6 slide">
      <div style="text-align: center">

        <img src="/imagenes/contenidos/od8.jpg" alt=""/>

      </div>
    </div>
    <div class="col-md-6">
    <p>Asimismo, la empresa mejoró su
      plataforma de e-commerce, ideal
      para que los clientes realicen compras
      de manera rápida y sencilla.
      Este ajuste se vio reflejado en un
      crecimiento del 74% en ventas en línea,
      en comparación con el año anterior;
      mientras que la continua expansión
      de canales de distribución permitirá seguir atendiendo a todo el
      abanico de clientes asiduos y atraer
      a aquellos que todavía no lo son.</p>


      <p>El plan de crecimiento de la compañía
      para 2015 considera la apertura
      de 15 tiendas en México con el formato
      de Office Depot de México, 5
      tiendas con el formato de Casa Marchand,
      1 tienda en Colombia y una
      más en Costa Rica, con lo que el espectro
      de marca seguirá llegando a
      más lugares dentro y fuera del país y
      con una visión global del negocio.</p>

      <p>Office Depot México se consolida
        como una más de las Unidades
        de Negocio de Grupo Gigante
        donde el crecimiento se sustenta
        en el trabajo y la innovación y su
        objetivo es seguirse manteniendo
        como la compañía más exitosa en
        la venta de artículos para oficina
        en México, Centroamérica, el Caribe
        y Colombia.</p>

      <p>En este 2014, sufrimos el embate
        del Huracán Odile en la Baja California,
        afectando severamente a 3 de
        nuestras tiendas, en Los Cabos y en
        La Paz, pero contando con el apoyo
        de todo el equipo de Office Depot de
        México, logramos su reapertura a
        pocos días de ocurrido el siniestro.</p>

      <p>Office Depot de México es una
        copia a colores de un negocio exitoso
        y así lo mantendremos.</p>
    </div>
  </div>


</div>