<div id="perfil">
  <h2>Perfil</h2>

  <div class="row">
    <div class="col-md-6 animated fadeInLeft slow-a">
      <p>Grupo Gigante es una empresa que a lo largo de su historia ha buscado ser ejemplo
        no sólo en los negocios, sino también en el compromiso con México y su gente. Desde
        el inicio de actividades en 1962, ha luchado constantemente por su crecimiento,
        a través de la adquisición de cadenas comerciales, formando asociaciones y alianzas
        estratégicas, incorporando diferentes negocios y formatos e incursionando en
        otras latitudes, como Centroamérica, el Caribe y Sudamérica; en pocas palabras,
        esforzándose por ser parte del desarrollo de México.
        </p>

      <p>Hoy en día, Grupo Gigante ha consolidado su presencia a través de sus diferentes
        negocios: Office Depot, Gigante Grupo Inmobiliario, Restaurantes Toks, PetCo, The
        Home Store, Panda Express y Cup Stop sin dejar a un lado la parte de responsabilidad
        social de la empresa, mediante las acciones de sus propias subsidiarias y de
        Fundación Gigante.</p>
    </div>
    <div class="col-md-6 animated fadeInRight slow-a">
      <img class="center-block" style="" src="/imagenes/contenidos/utiles.jpg" alt=""/></div>
  </div>

</div>
