<div class="table-responsive table-bordered">
  <table class="table table-hover" style="margin-bottom: 0px;">
    <thead>
    <tr style="background-color: #242424; color: #eaeaea;" class="tableizer-firstrow table">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>
</div>

<p class="leyenda-tabla">
  *Asumida la Deuda L.P. como la deuda representada por nuestros Senior Notes <br/>
  **Asumida como la Deuda L.P. (Senior Notes), menos Efectivo y Equivalentes
</p>


