.page-section, .small-section {
  padding: 35px 0;
}
#informacion-operativa thead tr{
  color: #EAEAEA;
  background-color: #242424;
  ;
}

#informacion-operativa .table{
  margin-bottom: 0;
}

.leyenda-tabla {
  font-size: 0.8em;
  margin-top: 10px;
}
.total-parcial{
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);;
}
/*informacion sectorial style*/
#informacion-sectorial thead tr{
  color: #EAEAEA;
  background-color: #242424;
  ;
}
/*slide block css*/
.come-in {
  transform: translateY(150px);
  -webkit-transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
  -webkit-animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.already-visible {
  -webkit-transform:translateY(150px);
  transform: translateY(0);
  animation: none;
}

@-webkit-keyframes come-in {
  to { -webkit-transform: translateY(0); }
}
@keyframes come-in {
  to { transform: translateY(0); }
}
.space-right{
    padding-right: 35px;
}
/*Menu*/
.clearlist.scroll-nav.local-scroll i {
    color: #ffffff;
}
/*Cambiar la duracion de los efectos*/
.slow-a {
    -webkit-animation-duration: 2s;
    animation-delay: 1s;
    /*-vendor-animation-iteration-count: infinite;*/

}
