<footer class="small-section bg-dark footer">
  <div class="container">

    <!-- Footer Text -->
    <div class="footer-text">

      <!-- Copyright -->
      <div class="footer-copy">
        <a href="http://www.biopappel.com" target="_blank">&copy; Bio Pappel <span class="number">2014</span></a>.
      </div>
      <!-- End Copyright -->

      <div class="footer-made">
        Innovación y desarrollo sustentable<br>
        la piedra angular de todo lo que hacemos
      </div>
      <div class="footer-copy" style="font-size: 10px;">
        <a href="http://www.irstrat.com" target="_blank"> Desarrollado por IRStrat</a>.
      </div>
    </div>
    <!-- End Footer Text -->



    <%= erb :'/layouts/generales/iconos-sociales' %>

  </div>
</footer>
