<!-- Social Links -->
<div class="footer-social-links">
  <div class="social-links tooltip-bot">
    <a href="http://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:ri@grupogigante.com" title="E-mail" target="_blank"><i class="fa fa-envelope"></i></a>


  </div>
</div>
<!-- End Social Links -->