<div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 55px;">
  <nav class="main-nav js-stick dark" id="mensaje">
    <div class="full-wrapper relative clearfix">
      <!-- End Navigation panel -->
      <!-- Logo ( * your text or image into link tag *) -->
      <div class="nav-logo-wrap local-scroll">
        <a class="logo" href="#top" style="height: 55px; line-height: 55px;">
          2013
        </a>
      </div>

      <div class="mobile-nav" style="height: 55px; line-height: 55px; width: 55px;"><i class="fa fa-bars"></i></div>

      <!-- Main Menu -->
      <div class="inner-nav desktop-nav">
        <ul class="clearlist scroll-nav local-scroll">


          <li>
            <a href="#" class="mn-has-sub" style="height: 55px; line-height: 55px;">Sobre <br/> Bio Pappel
            </a><i class="fa fa-angle-down"></i>

            <ul class="mn-sub" style="display: none;">
              <li>
                <a href="/es/estrategia" style="height: 56px; line-height: 55px;">Estrategia</a>
              </li>
              <li>
                <a href="/es/estructura" style="height: 56px; line-height: 55px;">Administración</a>
              </li>

              <li>
                <a href="/es/gobierno-corporativo" style="height: 56px; line-height: 55px;">Gobierno corporativo</a>
              </li>

            </ul>

          </li>



          <li><a href="/es/mensaje-presidente">Mensaje <br/> del Presidente </a></li>


          <li>
            <a href="#" class="mn-has-sub">Información <br/> relevante
            </a><i class="fa fa-angle-down"></i>

            <ul class="mn-sub" style="display: none;">

              <li>
                <a href="/es/sectorial">Sectorial </a>
              </li>
              <li>
                <a href="/es/operativa" > Operativa</a>
              </li>
              <li>
                <a href="/es/financiera">Financiera </a>
              </li>

            </ul>

          </li>

          <li>
            <a href="#" class="mn-has-sub">Análisis <br/> de la Administración
            </a><i class="fa fa-angle-down"></i>

            <ul class="mn-sub" style="display: none;">

              <li>
                <a href="/es/explicacion">Explicación Ad hoc  </a>
              </li>

              <li>
                <a href="/es/informacion-financiera-selecta">Información Financiera Selecta</a>
              </li>

            </ul>

          </li>

          <li>
            <a href="#" class="mn-has-sub">Grupos <br/> de interés
            </a><i class="fa fa-angle-down"></i>

            <ul class="mn-sub" style="display: none;">

              <li>
                <a href="/es/inversionistas">Inversionistas </a>
              </li>
              <li>
                <a href="/es/clientes"> Clientes</a>
              </li>
              <li>
                <a href="/es/empleados">Empleados </a>
              </li>
              <li>
                <a href="/es/comunidad">Comunidad </a>
              </li>

            </ul>

          </li>



          <li>
            <a id="sustentabilidad-menu" href="#" class="mn-has-sub" style="top: 20px;">Sustentabilidad <i id="sustentabildiad-arrow-desktop" class="fa fa-angle-down"></i></a> <i id="sustentabildiad-arrow-movil" class="fa fa-angle-down"></i>


            <ul class="mn-sub" style="display: none;">

              <li>
                <a href="/es/sustentabilidad">Modelo </a>
              </li>
              <li>
                <a href="/es/acciones-y-resultados">Acciones-Resultados</a>
              </li>
            </ul>

          </li>


          <li><a href="/es/estados-financieros">Estados <br/> Financieros </a>
          </li>


          <li>
            <a href="#" class="mn-has-sub">En  <br/>detalle
            </a><i class="fa fa-angle-down"></i>

            <ul id="en-detalle-ul" class="mn-sub" style="display: none;">

              <li>
                <a href="/es/glosario">Glosario </a>
              </li>
              <li>
                <a href="/es/futuros">Hechos futuros </a>
              </li>


            </ul>

          </li>



        </ul>
      </div>

    </div>
  </nav>
</div>
