<!DOCTYPE html>
<html>


<%= erb :'/layouts/portada/head' %>


<body class="appear-animate">

<!-- Page Loader -->
<div class="page-loader">
  <b class="spinner">Loading...</b>
</div>
<!-- End Page Loader -->

<!-- Page Wrap -->
<div class="page" id="top">

  <!-- Home Section -->
  <section id="home" data-background="imagenes/portada/portada1.jpg" class="home-section bg-dark-alfa-50 parallax-3" style="background-image: url(&quot;images/full-width-images/section-bg-7.jpg&quot;); background-position: 50% -68px;">
    <div class="js-height-full" style="height: 381px;">

      <!-- Home Page Content -->
      <div class="home-content container">
        <div data-anim-delay="100" data-anim-type="fade-in-right-big" class="home-text">
          <div class="container align-left">

            <!-- Headings -->

            <div class="hs-line-8 mb-20 mb-xs-10">
              Informe <strong>anual interactivo</strong>
            </div>

            <div class="hs-line-9 mb-30 mb-xs-20 animated bounceInUp slow-a">
              Grupo Gigante
            </div>

            <div class="hs-line-10">
              UN GIGANTE QUE SIGUE CRECIENDO
            </div>

            <!-- End Headings -->


            <br/>
            <br/>

            <div style="position:relative; top: 100px;">
              <div class="mb-10">
                <a id="botton-descargar-portada" class="btn btn-mod btn-border btn-circle btn-default" href="http://www.grupogigante.com.mx/pdf/informes/inf14_esppdf.pdf" target="_blank">
                  <span style="color: rgba(255, 255, 255, 0.8);">Descargar <i class="fa fa-file-pdf-o"></i></span>
                </a>
              </div>
            </div>


          </div>
        </div>
      </div>
      <!-- End Home Page Content -->

      <!-- Scroll Down -->


      <div class="local-scroll">
        <a class="scroll-down" href="#mensaje"><i class="scroll-down-icon"></i><span>Iniciar</span></a>
      </div>


    </div>
  </section>

  <!-- End Home Section -->

  <!-- Navigation panel -->
  <%= erb :'/layouts/generales/menu' %>
  <!-- End Navigation panel -->


  <!-- About Us Section -->
  <section class="page-section bg-gray-lighter">
    <div class="container relative">

      <!-- Section Headings -->
      <div class="row">
        <div class="col-md-12 col-lg-12 wow animated fadeInUp slow-mo">
          <div class="section-title">
            Datos Relevantes
          </div>
          <div style="text-align: center">
            <img src="/imagenes/contenidos/datos.jpg" alt="Datos"/>
          </div>

          <div class="section-line mb-60 mb-xxs-30"></div>
        </div>

      </div>
      <!-- End Section Headings -->

      <!-- Nav Tabs -->
      <div class="align-center mb-50 mb-xxs-30">
        <ul class="nav nav-tabs tpl-minimal-tabs animate">
          <li class="active">
            <a href="#one" data-toggle="tab">VISIÓN
            </a>
          </li>
          <li>
            <a href="#two" data-toggle="tab">MISIÓN
            </a>
          </li>
          <li>
            <a href="#three" data-toggle="tab">VALORES CORPORATIVOS</a>
          </li>
        </ul>
      </div>
      <!-- End Nav Tabs -->

      <!-- Tab Content -->
      <div class="tab-content tpl-minimal-tabs-cont">

        <!-- About -->
        <div class="tab-pane fade in active" id="one">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
              <div class="section-text">
                Trabajamos para ser el grupo empresarial líder en los mercados que participamos,
                comprometidos con la rentabilidad de nuestros negocios, así como con el éxito y
                desarrollo de nuestros clientes, accionistas y colaboradores.
              </div>
            </div>
          </div>
        </div>

        <!-- Skills -->
        <div class="tab-pane fade" id="two">

          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
              <div class="section-text">Asegurar la creación de valor a nuestros clientes, accionistas y colaboradores,
                mediante la integración, comunicación e intercambio de experiencias, en la
                búsqueda de la rentabilidad y de sinergias de nuestros negocios, en los sectores
                Comercio, Servicios y Bienes Raíces.
              </div>
            </div>
          </div>
        </div>
        <!-- End Skills -->
        <!-- Process -->
        <div class="tab-pane fade" id="three">

          <!-- Process Grid -->
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
              <div class="section-text" style="text-align: justify">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Liderazgo
                    </div>
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Productividad
                    </div>
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Trabajo en Equipo
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Transparencia
                    </div>
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Excelencia
                    </div>
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Reconocimiento
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Creatividad e Innovación
                    </div>
                    <div>
                      <i class="fa fa-check-circle-o"></i>
                      Responsabilidad social
                    </div>
                  </div>


                </div>
              </div>
              <!-- End Process Grid -->

            </div>
            <!-- End Process -->

          </div>
          <!-- End Tab Content -->
</div>
          <!-- Devices Image -->
          <!--<div class="section-bot-image wow animated fadeInUp slow-mo">-->
            <!--<img src="/imagenes/portada/ejecutivos_portada.png" alt=""/>-->
          <!--</div>-->
          <!-- End Devices Image -->
</div>
        </div>
  </section>
  <!-- End About Us Section -->

  <!-- Some Facts Section -->
  <section class="page-section" id="counts">
    <div class="container relative">

      <!-- Counters -->
      <div class="row">

        <!-- Counter Item -->
        <div class="col-xs-6 col-sm-3 wow animated fadeInUpBig slow-mo">
          <div class="count-number ">
            20,814,102
          </div>
          <div class="count-descr">
            <i class="fa  fa-bar-chart-o"></i>
            <span class="count-title">Ingresos totales</span>
          </div>
        </div>
        <!-- End Counter Item -->

        <!-- Counter Item -->
        <div class="col-xs-6 col-sm-3 wow animated fadeInUpBig slow-mo">
          <div class="count-number">
            2,843,408
          </div>
          <div class="count-descr">
            <i class="fa  fa-random"></i>
            <span class="count-title">Flujo de operación (Ebitda)</span>
          </div>
        </div>
        <!-- End Counter Item -->

        <!-- Counter Item -->
        <div class="col-xs-6 col-sm-3 wow animated fadeInUpBig slow-mo">
          <div class="count-number">
            1,236,910
          </div>
          <div class="count-descr">
            <i class="fa fa-building"></i>
            <span class="count-title">Utilidad neta consolidada</span>
          </div>
        </div>
        <!-- End Counter Item -->

        <!-- Counter Item -->
        <div class="col-xs-6 col-sm-3 wow animated fadeInUpBig slow-mo">
          <div class="count-number">
            38.50
          </div>
          <div class="count-descr">
            <i class="fa fa-dollar"></i>
            <span class="count-title">Precio de la acción</span>
          </div>
        </div>
        <!-- End Counter Item -->

      </div>
      <!-- End Counters -->

    </div>
  </section>
  <!-- End Some Facts Section -->

  <!-- Services Section -->
  <section class="split-section bg-scroll bg-dark-alfa-30" data-background="/imagenes/portada/empresas1.jpg" id="services">
    <!-- Blog Posts Grid -->
    <div class="last-posts-grid clearfix">

      <!-- Blog Item -->
      <a href="/es/office_depot" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/od_portada.jpg" alt="" />

          <div class="lp-date" style="text-align: center">
            <img src="/imagenes/portada/2_office-depot_imagen.png" alt="Office Depot"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr">
          <!--<h4 class="lp-title">La adquisición de Casa Marchand-->
            <!--y su expansión a República-->
            <!--Dominicana </h4>-->
          <div class="lp-author">
            La adquisición de Casa Marchand
            y su expansión a República
            Dominicana
            son claros ejemplos
            de su solidez.
          </div>
        </div>

      </a>
      <!-- End Blog Item -->

      <!-- Blog Item -->
      <a href="/es/home_store" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/hs_portada.jpg" alt="" />

          <div class="lp-date">
            <img src="/imagenes/portada/3_the-home-store_imagen.png" alt="Home Store"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr ext-link">
          <!--<h4 class="lp-title">Inició cambios y llevó a cabo-->
            <!--nuevas estrategias-->
            <!--</h4>-->
          <div class="lp-author">
            Inició cambios y llevó a cabo
            nuevas estrategias para
            posicionarse <br/>todavía mejor ante
            sus clientes.
          </div>
        </div>

      </a>
      <!-- End Blog Item -->

      <!-- Blog Item -->
      <a href="/es/toks" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/tok_portada.jpg" alt="" />

          <div class="lp-date">
            <img src="/imagenes/portada/1_toks_imagen.png" alt="Toks"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr">
          <!--<h4 class="lp-title">La adquisición de California y-->
            <!--Beer Factory </h4>-->
          <div class="lp-author">
            La adquisición de California y
            Beer Factory
            representa un
            logro <br/>que dejó un buen sabor
            de boca.
          </div>
        </div>

      </a>
      <!-- End Blog Item -->

      <!-- Blog Item -->
      <a href="/es/panda_express" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/pan_portada.jpg" alt="" />

          <div class="lp-date">
            <img src="/imagenes/portada/4_panda-express_imagen.png" alt="Panda Espress"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr">
          <!--<h4 class="lp-title">Incremento en ventas y número-->
            <!--de clientes satisfechos </h4>-->
          <div class="lp-author">
            Incremento en ventas y número
            de clientes satisfechos es
            sinónimo de un esmerado
            servicio.
          </div>
        </div>

      </a>
      <!-- End Blog Item -->

      <!-- Blog Item -->
      <a href="/es/cup_stop" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/cup_portada.jpg" alt="" />

          <div class="lp-date">
            <img src="/imagenes/portada/8_cup-stop_imagen.png" alt="Cup stop"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr ext-link">
          <!--<h4 class="lp-title">El formato se va personalizando-->
            <!--</h4>-->
          <div class="lp-author">
            El formato se va personalizando para ofrecer variedad de
            opciones.
          </div>
        </div>

      </a>
      <!-- End Blog Item -->

      <!-- Blog Item -->
      <a href="/es/gigante_inmobiliario" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/ggi_portada.jpg" alt="" />

          <div class="lp-date">
            <img src="/imagenes/portada/5_gigante-grupo-inmobiliario_imagen.png" alt="Gigante Grupo Inmobiliario"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr ext-link">
          <!--<h4 class="lp-title">Sus proyectos integran-->
            <!--</h4>-->
          <div class="lp-author">
            Sus proyectos integran modernidad, estilo y
            funcionalidad.
          </div>
        </div>

      </a>
      <!-- End Blog Item -->

      <!-- Blog Item -->
      <a href="/es/petco" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/pet_portada.jpg" alt="" />

          <div class="lp-date">
            <img src="/imagenes/portada/6_petco_imagen.png" alt="PetCo"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr">
          <!--<h4 class="lp-title">Superó su meta en la apertura del número-->
            <!--de tiendas </h4>-->
          <div class="lp-author">
            Superó su meta en la apertura del número
            de tiendas y promueve con éxito una nueva
            filosofía.
          </div>
        </div>

      </a>
      <!-- End Blog Item -->

       Blog Item
      <a href="/es/fundacion_gigante" class="lp-item ext-link">

        <div class="lp-image">

          <img src="/imagenes/portada/fg_portada.jpg" alt="" />

          <div class="lp-date">
            <img src="/imagenes/portada/7_fundacion-gigante_imagen.png" alt="Fundacion Gigante"/>
          </div>
          <div class="lp-more">
            Leer mas
          </div>

        </div>

        <div class="lp-descr">
          <!--<h4 class="lp-title">Importantes Programas </h4>-->
          <div class="lp-author">
            Importantes Programas en beneficio de los
            sectores menos favorecidos.
          </div>
        </div>

      </a>

    </div>
    <!-- End Blog Posts Grid -->
  </section>
  <!-- End Services Section -->

  <br>
  <br>


  <!-- Footer -->
  <%= erb :'/layouts/generales/footer' %>
  <!-- End Foter -->


</div>


<!-- Works Expander -->
<div class="work-full">
  <div class="work-navigation clearfix">
    <a class="work-prev"><span><i class="fa fa-chevron-left"></i>&nbsp;Previous</span></a>
    <a class="work-all"><span><i class="fa fa-times"></i>&nbsp;All works</span></a>
    <a class="work-next"><span>Next&nbsp;<i class="fa fa-chevron-right"></i></span></a>
  </div>
  <div class="work-full-load">
  </div>
  <div class="work-loader">
  </div>
</div>
<div class="body-masked">
</div>
<!-- End Works Expander -->



<%= erb :'/layouts/portada/javascript' %>


</body>
</html>
