<head>
  <title>Bio Pappel</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="author" content="Roman Kirichik">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- Favicons -->

  <link rel="shortcut icon" href="/imagenes/favicon.png">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style-responsive.css">

  <!--<link rel="stylesheet" href="/css/animate.css">-->
  <!--<link rel="stylesheet" href="/css/animations.min.css">-->
  <link rel="stylesheet" href="/css/vertical-rhythm.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
<!--Animate new Istrat-->
  <link rel="stylesheet" href="/css/animate-new.css">

  <!-- Color Schemes :: Uncomment one for apply :: -->
  <!-- <link rel="stylesheet" href="css/colors/orange.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/yellow.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/green.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/cyan.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/azure.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/blue.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/blue-extra.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/purple.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/purple-extra.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/brown.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/brown-extra.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/red-extra.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/pink.css"> -->
  <!-- <link rel="stylesheet" href="css/colors/black.css"> -->

  <!--Ajustes Istrat-->
  <link rel="stylesheet" href="/css/irstrat/reglas-generales.css">
  <link rel="stylesheet" href="/css/irstrat/ajustes-jc.css">
  <link rel="stylesheet" href="/css/irstrat/ajustes-al.css">
  <link rel="stylesheet" href="/css/irstrat/ajustes-jm.css">


</head>
