<section class="page-section bg-dark-alfa-70 parallax-7" data-background="/imagenes/portada/portada2.jpg" >
  <div class="container">

    <div class="row">
      <div class="col-md-6 ">
        <div class="pull-left">
        <a href="/">  <img src="/imagenes/gigante_logo.png" alt=""/></a>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="pull-right">
          <h3 class="small-title white">Informe anual 2014</h3>

          <!-- Author, Categories, Comments -->
          <div class="blog-post-data">
            crecimiento ordenado, enfocado, rentable, cuidadoso y selectivo.
        </div>
      </div>

    </div>


  </div>
</section>
