<!--Sidebar-->
<div class="col-sm-3 col-sm-offset-1 sidebar">
  <!--widget IMG-->
  <div class="widget">
    <img class="thumbnail" src="/imagenes/director.jpg" alt="Director"/>
  </div>
  <!--End widget IMG-->


  <!-- Widget -->
  <div class="widget">

    <h5 class="widget-title">Categories</h5>

    <div class="widget-body">
      <ul class="clearlist widget-menu">
        <li>
          <a href="#" title="">Branding</a>
          <small>
            - 7
          </small>
        </li>
        <li>
          <a href="#" title="">Design</a>
          <small>
            - 15
          </small>
        </li>
        <li>
          <a href="#" title="">Development</a>
          <small>
            - 3
          </small>
        </li>
        <li>
          <a href="#" title="">Photography</a>
          <small>
            - 5
          </small>
        </li>
        <li>
          <a href="#" title="">Other</a>
          <small>
            - 1
          </small>
        </li>
      </ul>
    </div>

  </div>
  <!-- End Widget -->

  <!-- Widget -->
  <div class="widget">

    <h5 class="widget-title">Tags</h5>

    <div class="widget-body">
      <div class="tags">
        <a href="">Design</a>
        <a href="">Portfolio</a>
        <a href="">Digital</a>
        <a href="">Branding</a>
        <a href="">Theme</a>
        <a href="">Clean</a>
        <a href="">UI & UX</a>
        <a href="">Love</a>
      </div>
    </div>

  </div>
  <!-- End Widget -->

  <!-- Widget -->
  <div class="widget">

    <h5 class="widget-title">Comments</h5>

    <div class="widget-body">
      <ul class="clearlist widget-comments">
        <li>
          John Doe on <a href="#" title="">Lorem ipsum dolor sit amet</a>
        </li>
        <li>
          Emma Johnson on <a href="#" title="">Suspendisse accumsan interdum tellus</a>
        </li>
        <li>
          John Doe on <a href="#" title="">Praesent ultricies ut ipsum</a>
        </li>
        <li>
          Mark Deen on <a href="#" title="">Vivamus malesuada vel nulla vulputate</a>
        </li>
        <li>
          Sam Brin on <a href="#" title="">Aenean auctor egestas auctor</a>
        </li>
      </ul>
    </div>

  </div>
  <!-- End Widget -->




</div>