<div id="explicacion" class="col-md-9 space-right">


  <h3>Resultados consolidados</h3>

  <p>Las <b>Ventas Netas</b> consolidadas en 2013 disminuyeron en Ps.274.4 millones, lo que representa un 2.3%. El segmento Papel contribuyó con una disminución del 9.9%, equivalente a Ps.593.8 millones, compensado con un incremento en el segmento Empaques de 5.3%, equivalente a Ps.319.4 millones.</p>

  <p>El <b>Volumen de Embarques</b> consolidado disminuyó 2.0%, equivalente a 26.7 mil toneladas cortas. El segmento de Papel contribuyó con una disminución del 4.5%, compensado con un incremento de 0.4% en el segmento de Empaques.  Lo anterior originó un efecto neto desfavorable en ventas por Ps.249.7 millones.</p>

  <p>El <b>Precio de Venta Unitario Promedio</b> disminuyó 0.3% en 2013. Lo anterior originó un efecto desfavorable de Ps.24.7 millones en las ventas consolidadas.</p>

  <p>El <b>Costo de Venta Unitario Promedio</b> disminuyó 4.3% en 2013. Esta reducción representó un ahorro de Ps.421.4 millones, principalmente en materia prima y energéticos, sumados a la reducción de Ps.195.6 millones por menor volumen (26.7 mil toneladas cortas menos).</p>

  <p>La <b>Utilidad Bruta</b> incrementó en 17.0%, equivalente a Ps.342.6 millones, principalmente como resultado de una reducción en los costos de producción (materia prima y energéticos). El <b>Margen Bruto</b> aumentó de 16.8% en 2012 a 20.1% en 2013.</p>

  <p>La <b>Utilidad de Operación</b> incrementó en Ps.311.2 millones, pasando de 9.1% como margen de operación en 2012 a 12.0 % en 2013. Este incremento de utilidades fue originado por una disminución en los costos de materias primas y en energéticos.</p>

  <p>Los <b>Gastos de Administración y Venta</b> disminuyeron 3.2% en 2013, equivalentes a Ps.30.2 millones, principalmente en la Reserva de Cuentas Incobrables. Los Gastos de Administración y Venta, como un porcentaje de las Ventas Netas, disminuyeron a 7.7%  en 2013, comparado con 7.8% en 2012.</p>

  <p><b>Otros Gastos Netos</b> fueron de Ps.43.0 millones en  2013, comparado con  Ps.18.6 millones de Otros Ingresos en 2012. En 2013, los rubros que se incluyen son Pérdida en venta de Activo Fijo por Ps.4.5 millones, y Ps.38.5 millones de otros conceptos. En 2012, los rubros que se incluyen son utilidad en venta de materiales por Ps.6.1 millones, y Ps.12.5 millones de otros conceptos.</p>

  <p>La <b>Utilidad de Operación</b> fue de Ps.1,407.7 millones en 2013, comparado con Ps.1,096.5 millones en 2012, debido a la reducción de costos en materia prima y energéticos, principalmente. El margen de operación aumentó a 12.0% en 2013, comparado contra el 9.1% de 2012.</p>

  <p>La Utilidad de Operación para el segmento de Papel incrementó a Ps.1,115.5 millones en 2013, comparada con Ps.817.9 millones en 2012. El margen operativo de este segmento fue de 20.7% en 2013, compararlo contra 13.7% en 2012.</p>

  <p>El <b>Costo de Financiamiento</b> en 2013 fue de Ps.375.5 millones, lo que representó un incremento de 47.9% con relación a los Ps.253.9 millones de 2012. Esto fue, principalmente, consecuencia de la depreciación del peso en 0.6%, lo que originó una perdida cambiaria de Ps.37.6 millones en el 2013, comparada con una ganancia cambiaria de Ps.236.0 millones en 2012, cuyo cargo neto a resultados fue de Ps.273.6 millones, por otro lado hubo una disminución en el costo de derivados e instrumentos financieros por Ps.167.8 millones.</p>

  <p>Los <b>Impuestos a la Utilidad</b> fueron de Ps.178.8 millones en 2013, comparados contra Ps.199.4 millones en 2012. La tasa efectiva en 2013 fue de 18%, comparada contra 23% en 2012.</p>

  <p>La <b>Utilidad Neta</b> fue de Ps.856.3 millones en 2013, comparada con una utilidad neta de Ps.646.4 millones en 2012, principalmente por una mayor utilidad de operación y menores impuestos que compensaron un mayor costo de financiamiento. La Utilidad neta como porcentaje de las Ventas Netas fue de 7.3% en 2013, comparada contra 5.4% de 2012.</p>

  <p>Al 31 de diciembre de 2013 y 2012, el <b>Efectivo y Equivalentes de Efectivo</b> fue de Ps.1,363.9 millones y Ps.1,289.8 millones, respectivamente. Al 31 de diciembre de 2013 y 2012, tuvimos un <b>Capital Neto de Trabajo</b> (activos circulantes menos pasivos circulantes), de Ps.2,231.0 millones y de Ps.2,166.7 millones, respectivamente, el cual incluye al efectivo e inversiones temporales.</p>


  <p>Los recursos netos generados en las actividades de operación fue de Ps.1,412.6 millones en 2013, y  Ps.1,336.6 millones en 2012. Los recursos netos utilizados en actividades de financiamiento fueron Ps.961.4 millones en 2013, y Ps.335.9 millones en 2012. En 2013, se invirtieron Ps.264.7 millones para la compra de maquinaria y equipo para la producción de cajas corrugadas del segmento de empaques y Ps.212.4 millones para la compra de maquinaria y equipo para nuestras fábricas de papel periódico y bond.</p>

  <p>Creemos que el efectivo generado por las actividades de operación será el adecuado para solventar los requerimientos de servicio de la deuda, inversión en activos fijos y necesidades de capital de trabajo. </p>


  <h3>Eventos relevantes</h3>

  <p>En septiembre anunciamos la <b>firma del acuerdo de compra del 100% de las acciones de Corporación Scribe</b>, con la finalidad de consolidar nuestro posicionamiento en la fabricación y distribución de papel bond y productos de escritura e impresión al consumidor, destacando el valor y reconocimiento de la marca Scribe en su sector.</p>

 <p>La adquisición está supeditada a la autorización de la Comisión Federal de Competencia Económica, los tenedores de bonos de Scribe ya han otorgado su autorización para la concreción de la operación. Tenemos contemplado integrar, más adelante, a Pappel y Scribe en una misma entidad, para maximizar sus oportunidades de creación de valor. </p>

<p>Aumentamos la inversión en CNT en un 78% con respecto al año anterior pasando de 241.1 millones a 428.8 millones en 2013, y llevamos a cabo el pago anticipado del 20% de nuestra deuda, liquidando, también, los intereses acumulados a esa fecha, quedando un remanente de US$200.0 millones.</p>

  <h3>Trayecto de crecimiento</h3>

  <p>Al cierre de 2013, tenemos una base más sólida sobre la cual seguir cimentando nuestro modelo de negocios, a través del fortalecimiento de la integración vertical de procesos: cogeneración energética, cadena de distribución, cadena de suministros, y fortalecimiento de márgenes.</p>

  <p>Con una sólida posición financiera, seguiremos buscando la concreción de oportunidades de crecimiento endógeno, a través de nuevos proyectos: plantas de producción y generación, y crecimiento de nuestro portafolio de productos y servicios. Además buscamos oportunidades de expansión, mediante adquisiciones estratégicas: orientados en todo momento a generar valor para nuestros accionistas.</p>


</div>











<!--Sidebar-->
<div class="col-sm-3 sidebar">
  <!--widget IMG-->
  <!--End widget IMG-->
  <div class="">
    <h3 style="color: #1F4527"><i class="fa fa-bar-chart"></i>Ps 421.4 millones</h3>
    <p>Ahorros principalmente en materia prima y energéticos </p>
    </div>
<hr>

  <!-- Widget -->
  <div class="">
    <h3 style="color: #1F4527"><i class="fa fa-bar-chart"></i>Incremento de 290 pbs</h3>
    <p>Margen operativo y de 320 pbs en margen bruto </p>
  </div>
  <hr>
  <!-- End Widget -->
  <!-- Widget -->
  <div class="">
    <h3 style="color: #1F4527"><i class="fa fa-bar-chart"></i>32% de incremento </h3>
    <p>En Utilidad Neta </p>
  </div>
  <hr>
  <!-- End Widget --
  <!-- Widget -->
  <div class="">
    <h3 style="color: #1F4527"><i class="fa fa-bar-chart"></i>Ps. 2,231 mills</h3>
    <p>Capital de Trabajo</p>
  </div>
  <hr>
  <!-- End Widget --
  <!-- Widget -->
  <div class="">
    <h3 style="color: #1F4527"><i class="fa fa-bar-chart"></i>Pago anticipado </h3>
    <p>US$50 mills. en nuestras Senior Notes</p>
  </div>
  <hr>
  <!-- End Widget --

</div>
