<div id="informacion-financiera">
<div class="col-md-9 space-right">


<h3>Información financiera</h3>
<h4 class="mt-0">Resultados</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr style="background-color: #242424;" class="tableizer-firstrow table">
      <th>Cifras en Ps. MM</th>
      <th>2013</th>
      <th>2012</th>
      <th>cambio %</th>
    </tr>
    </thead>


    <tbody>

    <tr>
      <td>Ingresos netos</td>
      <td>11,717.41</td>
      <td> 11,991.79</td>
      <td>-2.29%</td>
    </tr>
    <tr>
      <td>Costo de ventas</td>
      <td>9,358.90</td>
      <td> 9,975.86</td>
      <td>-6.18%</td>
    </tr>
    <tr>
      <td>Utilidad Bruta</td>
      <td>2,358.50</td>
      <td> 2,015.94</td>
      <td>16.99%</td>
    </tr>
    <tr>
      <td>Gastos generales</td>
      <td>907.84</td>
      <td> 938.03</td>
      <td>-3.22%</td>
    </tr>
    <tr>
      <td>Utilidad antes de otros ingresos</td>
      <td>1,450.67</td>
      <td> 1,077.91</td>
      <td>34.58%</td>
    </tr>
    <tr>
      <td>Otros ingresos y (gastos), neto</td>
      <td>(43.10)</td>
      <td> 18.59</td>
      <td>-331.85%</td>
    </tr>
    <tr>
      <td>Utilidad de la Operación</td>
      <td>1,407.66</td>
      <td> 1,096.50</td>
      <td>28.38%</td>
    </tr>
    <tr>
      <td>Ingresos (gastos) financieros neto</td>
      <td>(375.52)</td>
      <td>(253.92)</td>
      <td>-47.89%</td>
    </tr>
    <tr>
      <td>Participación en asociadas</td>
      <td>3.03</td>
      <td> 3.23</td>
      <td>-6.43%</td>
    </tr>
    <tr>
      <td>Utilidadantes de impuestos</td>
      <td>1,035.17</td>
      <td> 845.81</td>
      <td>22.39%</td>
    </tr>
    <tr>
      <td>Impuestos a la utilidad</td>
      <td>178.82</td>
      <td> 193.96</td>
      <td>-7.80%</td>
    </tr>
    <tr>
      <td>Utilidad Neta</td>
      <td>856.35</td>
      <td> 651.86</td>
      <td>31.37%</td>
    </tr>
    <tr>
      <td>Utilidad por acción (Ps.)</td>
      <td>2.90</td>
      <td> 2.20</td>
      <td>31.82%</td>
    </tr>
    <tr>
      <td>Acciones en circulación (unidades)</td>
      <td>289,958,522.00</td>
      <td> 289,958,522.00</td>
      <td>0.00%</td>
    </tr>

    </tbody>
  </table>
</div>

<br/>

<h4>Posición Financiera</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr style="background-color: #242424;" class="tableizer-firstrow table">
      <th>Cifras en Ps. MM</th>
      <th>2013</th>
      <th>2012</th>
      <th>cambio %</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Activos</td>
      <td> 17,288.88</td>
      <td> 16,657.19</td>
      <td>3.79%</td>
    </tr>
    <tr>
      <td>Activo circulante</td>
      <td> 4,518.10</td>
      <td> 4,355.20</td>
      <td>3.74%</td>
    </tr>
    <tr>
      <td>Activo no circulante</td>
      <td> 12,770.79</td>
      <td> 12,301.99</td>
      <td>3.81%</td>
    </tr>
    <tr>
      <td>Pasivos</td>
      <td> 6,995.93</td>
      <td> 7,215.49</td>
      <td>-3.04%</td>
    </tr>
    <tr>
      <td>Pasivo circulante</td>
      <td> 2,287.09</td>
      <td> 2,188.55</td>
      <td>4.50%</td>
    </tr>
    <tr>
      <td>Pasivo no circulante</td>
      <td> 4,708.84</td>
      <td> 5,026.95</td>
      <td>-6.33%</td>
    </tr>
    <tr>
      <td>Capital Contable</td>
      <td> 10,292.95</td>
      <td> 9,441.70</td>
      <td>9.02%</td>
    </tr>
    <tr>
      <td>Total pasivo y capital contable</td>
      <td> 17,288.88</td>
      <td> 16,657.19</td>
      <td>3.79%</td>
    </tr>
    </tbody>
  </table>
</div>


<br/>

<h4>Flujo de Efectivo</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr style="background-color: #242424;" class="tableizer-firstrow table">
      <th>Cifras en Ps. MM</th>
      <th>2013</th>
      <th>2012</th>
      <th>cambio %</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td>Flujo Neto Operativo</td>
      <td> 1,412.60</td>
      <td> 1,371.82</td>
      <td>2.97%</td>
    </tr>
    <tr>
      <td>Flujo Neto de Inversión</td>
      <td>(371.75)</td>
      <td>(645.17)</td>
      <td>-42.38%</td>
    </tr>
    <tr>
      <td>Flujo Neto de Financiamiento</td>
      <td>(961.41)</td>
      <td>(371.09)</td>
      <td>159.07%</td>
    </tr>
    <tr>
      <td>Incremento/Disminución de Efectivo</td>
      <td> 79.44</td>
      <td> 355.54</td>
      <td>-77.66%</td>
    </tr>
    <tr>
      <td>Efectivo al principio del período</td>
      <td> 1,289.79</td>
      <td> 966.97</td>
      <td>33.38%</td>
    </tr>
    <tr>
      <td>Efectivo al final del período</td>
      <td> 1,363.87</td>
      <td> 1,289.79</td>
      <td>5.74%</td>
    </tr>
    </tbody>
  </table>
</div>


<br/>

<h4>Indicadores operativos</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr style="background-color: #242424;" class="tableizer-firstrow table">
      <th></th>
      <th>2013</th>
      <th>2012</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td>Utilidad del ejercicio/Ventas</td>
      <td>7.31%</td>
      <td>5.39%</td>
    </tr>
    <tr>
      <td>Recursos de operación/Ventas</td>
      <td>12.06%</td>
      <td>11.15%</td>
    </tr>
    <tr>
      <td>Deuda L.P.*/Capital contable (veces)</td>
      <td>0.21</td>
      <td>0.25</td>
    </tr>
    <tr>
      <td>Pasivo total/Capital contable (veces)</td>
      <td>0.68</td>
      <td>0.76</td>
    </tr>
    <tr>
      <td>Deuda Neta**/Recursos de operación (veces)</td>
      <td>0.75</td>
      <td>1.25</td>
    </tr>

    </tbody>
  </table>
</div>

<p class="leyenda-tabla">
  *Asumida la Deuda L.P. como la deuda representada por nuestros Senior Notes <br/>
  **Asumida como la Deuda L.P. (Senior Notes), menos Efectivo y Equivalentes
</p>


</div>


<!--Sidebar-->
<div class="col-sm-3 sidebar">
  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">UTILIDAD (PÉRDIDA) BRUTA <br/></h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a " src="/imagenes/contenidos/financiera-grafica1.png" alt="Director"/>

    </div>


    <p class="leyenda-tabla">(CIFRAS EN PS. Miles)</p>


  </div>
  <!--End widget IMG-->
  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title" style="letter-spacing: 0;">UTILIDAD (PÉRDIDA) DE LA OPERACIÓN<br/></h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/financiera-grafica2.png" alt="Director"/>

    </div>

    <p class="leyenda-tabla">(CIFRAS EN PS. Miles)</p>

  </div>
  <!--End widget IMG-->
  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Activos <br/></h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/financiera-grafica3.png" alt="Director"/>

    </div>

    <p class="leyenda-tabla">(CIFRAS EN PS. Miles)</p>

  </div>
  <!--End widget IMG-->
  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Pasivos <br/></h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/financiera-grafica4.png" alt="Director"/>

    </div>

    <p class="leyenda-tabla">(CIFRAS EN PS. Miles)</p>

  </div>

</div>
</div>
