<div id="informacion-operativa">
<div  class="col-md-9 space-right">


<h2>Información operativa</h2>
<h4 class="mt-0">Capacidad instalada</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">
      <th></th>
      <th></th>
      <th>2013</th>
      <th>%</th>
      <th>2012</th>
      <th colspan="2">%</th>
    </tr>

    </thead>

    <tbody>
    <tr>
      <td>Producto</td>
      <td>Capacidad<sup>1</sup></td>
      <td>#Plantas</td>
      <td>Utilizado</td>
      <td>Capacidad<sup>1</sup></td>
      <td>Cambio</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="6">Papel:</td>
    </tr>
    <tr>
      <td>Para empaque</td>
      <td>1,117.0</td>
      <td>5</td>
      <td> 92%</td>
      <td>1,012.8</td>
      <td>10.29%</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Papel periódico</td>
      <td>160.0</td>
      <td>1</td>
      <td>69%</td>
      <td>138.5</td>
      <td>15.52%</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Papel bond</td>
      <td>180.0</td>
      <td>1</td>
      <td>69%</td>
      <td>144.5</td>
      <td>24.57%</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Papel cortado</td>
      <td>52.0</td>
      <td>1</td>
      <td> 69%</td>
      <td>35.3</td>
      <td>47.31%</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="total-parcial">
      <td>Total papel</td>
      <td>1,509.0</td>
      <td>8</td>
      <td>&nbsp;</td>
      <td>1,331.1</td>
      <td>13.36%</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="6">Empaques:</td>
    </tr>
    <tr>
      <td>Cajas corrugadas</td>
      <td>924.0</td>
      <td>15.0</td>
      <td>75%</td>
      <td>689.3</td>
      <td>34.05%</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Sacos multicapas</td>
      <td>53.0</td>
      <td>3.0</td>
      <td>52%</td>
      <td>36.0</td>
      <td>47.22%</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="total-parcial">
      <td>Total empaques</td>
      <td>977.0</td>
      <td>18.0</td>
      <td>&nbsp;</td>
      <td>725.3</td>
      <td>34.70%</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>2,486.0</td>
      <td>26.0</td>
      <td>&nbsp;</td>
      <td>2,056.4</td>
      <td> 20.89%</td>
      <td></td>
    </tr>


    </tbody>
  </table>


</div>
<br/>
<h4 class="mt-0">Producción y ventas </h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">

      <th colspan="3">2013</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>Vol. Ventas (Tons)</td>
      <td>Ventas Netas (Ps.MM)</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3">Papel:</td>

    </tr>
    <tr>
      <td>Para empaque</td>
      <td>414.2</td>
      <td>3,245.3</td>
    </tr>

    <tr>
      <td>Papel periódico</td>
      <td>113.2</td>
      <td>1,030.7</td>
    </tr>
    <tr>
      <td>Papel bond</td>
      <td> 63.5</td>
      <td>791.4</td>
    </tr>
    <tr>
      <td>Papel cortado</td>
      <td> 25.3</td>
      <td>326.2</td>
    </tr>
    <tr class="total-parcial">
      <td>Total papel</td>
      <td>616.1</td>
      <td>5,393.6</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3">Empaques:</td>

    </tr>
    <tr>
      <td>Cajas corrugadas</td>
      <td>689.2</td>
      <td>5,935.9</td>
    </tr>

    <tr>
      <td>Sacos multicapas</td>
      <td> 28.4</td>
      <td>387.8</td>
    </tr>
    <tr class="total-parcial">
      <td>Total empaques</td>
      <td>717.6</td>
      <td>6,323.8</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>1,333.7</td>
      <td>11,717.4</td>
    </tr>

    </tbody>
  </table>
</div>
<br/>
<h4 class="mt-0">Rubros de ventas</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">
      <th> 2013</th>

      <th>Papel</th>

      <th>Empaque</th>

      <th>Segmentos</th>

      <th>Eliminaciones</th>

      <th>consolidado</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Clientes externos</td>
      <td>5,393.6</td>
      <td>6,323.8</td>
      <td>11,717.4</td>
      <td>&nbsp;</td>
      <td>11,717.4</td>
    </tr>
    <tr>
      <td>Entre segmento</td>
      <td>1,466.3</td>
      <td>1,566.2</td>
      <td>3,032.5</td>
      <td>(3,032.5)</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Intersegmentos</td>
      <td>254.6</td>
      <td>320.6</td>
      <td>575.2</td>
      <td>(575.2)</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Transferencias</td>
      <td> 3,659.5</td>

      <td>0.0</td>

      <td>3,659.5</td>

      <td>(3,659.5)</td>

      <td>0.0</td>

    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>10,774.1</td>
      <td>8,210.5</td>
      <td>18,984.6</td>
      <td>(7,267.2)</td>
      <td>11,717.4</td>
    </tr>

    </tbody>
  </table>
</div>
<p class="leyenda-tabla">Cifras: en millones de pesos</p>
<h4 class="mt-0">Ventas por Región</h4>
<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">
      <th>Ventas</th>
      <th>2013</th>
      <th>2012</th>
      <th>2011</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td>México</td>
      <td>16,757.3</td>
      <td>16,470.4</td>
      <td>15,276.5</td>
    </tr>
    <tr>
      <td>Estados Unidos</td>
      <td>2,227.3</td>
      <td>2,319.9</td>
      <td>2,474.0</td>
    </tr>
    <tr>
      <td>Eliminaciones<sup>3</sup></td>
      <td>(7,267.2)</td>
      <td>(6,798.5)</td>
      <td>(6,263.7)</td>
    </tr>
    <tr>
      <td>Consolidado</td>
      <td>11,717.4</td>
      <td>11,991.8</td>
      <td>11,486.8</td>
    </tr>

    </tbody>
  </table>
</div>

<p class="leyenda-tabla">
  Cifras en millones de pesos
</p>


</div>


<!--Sidebar-->
<div class="col-sm-3 sidebar">
  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Cambio en capacidad instalada<br/>(Papel)</h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/informacion-operativa.png" alt="Director"/>

    </div>

  </div>
  <!--End widget IMG-->
  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Cambio en capacidad instalada<br/>(Empaques)</h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/informacion-operativa1.png" alt="Director"/>

    </div>

  </div>
  <!--End widget IMG-->

  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Producción y ventas<br/>(Papel)</h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/produccion-y-ventas.png" alt="Director"/>

    </div>

  </div>


  <div class="leyenda-tabla">
    Toneladas cortas
  </div>


</div>
</div>
