<div id="informacion-sectorial">
<div class="col-md-9 space-right">
<h2 class="mt-0">La Industria del Papel y sus Productos en México</h2>
<h4>Demanda<sup>1</sup> Total de Papel
  (miles de toneladas cortas<sup>2</sup>)
</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">
      <th>Año</th>
      <th>Producción</th>
      <th>Importaciones</th>
      <th>Exportaciones</th>
      <th>Demanda</th>
      <th>% de Cambio</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td>2011</td>
      <td>5,182</td>
      <td>2,644</td>
      <td>227</td>
      <td>7,600</td>
      <td>(1.2)</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>5,354</td>
      <td>2,706</td>
      <td>206</td>
      <td>7,854</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>5,329</td>
      <td>2,715</td>
      <td>228</td>
      <td>7,816</td>
      <td>(0.5)</td>
    </tr>

    </tbody>
  </table>
</div>

<br/>
<br/>

<h4>Demanda<sup>1</sup> de Papel para Empaque
  (miles de toneladas cortas<sup>2</sup>)
</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">
      <th>Año</th>
      <th>Producción</th>
      <th>Importaciones</th>
      <th>Exportaciones</th>
      <th>Demanda</th>
      <th>% de Cambio</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td>2011</td>
      <td>3,066</td>
      <td>1,358</td>
      <td>79</td>
      <td>4,345</td>
      <td>(0.2)</td>
    </tr>

    <tr>
      <td>2012</td>
      <td>3,291</td>
      <td>1,360</td>
      <td>70</td>
      <td>4,581</td>
      <td>5.4</td>
    </tr>

    <tr>
      <td>2013</td>
      <td>3,321</td>
      <td>1,394</td>
      <td>101</td>
      <td>4,614</td>
      <td>0.7</td>
    </tr>

    </tbody>
  </table>
</div>

<br/>
<br/>

<h4>Demanda<sup>1</sup> para Papel de Escritura e Impresión
  (miles de toneladas cortas<sup>2</sup>)
</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">
      <th>Año</th>
      <th>Producción</th>
      <th>Importaciones</th>
      <th>Exportaciones</th>
      <th>Demanda</th>
      <th>% de Cambio</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>2011</td>
      <td>945</td>
      <td>854</td>
      <td>12</td>
      <td>1,788</td>
      <td>(1.2)</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>864</td>
      <td>1,041</td>
      <td>10</td>
      <td>1,895</td>
      <td>5.9</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>786</td>
      <td>1,008</td>
      <td>11</td>
      <td>1,783</td>
      <td>(6.0)</td>
    </tr>

    </tbody>
  </table>
</div>

<br/>
<br/>

<h4>Demanda<sup>1</sup> de Papel Periódico
  (miles de toneladas cortas<sup>2</sup>)
</h4>

<div class="table-responsive table-bordered">
  <table class="table table-hover">
    <thead>
    <tr class="tableizer-firstrow table">
      <th>Año</th>
      <th>Producción</th>
      <th>Importaciones</th>
      <th>Exportaciones</th>
      <th>Demanda</th>
      <th>% de Cambio</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <td>2011</td>
      <td>277</td>
      <td>177</td>
      <td>0</td>
      <td>454</td>
      <td>5.6</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>209</td>
      <td>213</td>
      <td>0</td>
      <td>422</td>
      <td>(7.1)</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>168</td>
      <td>216</td>
      <td>0</td>
      <td>384</td>
      <td>(9.0)</td>
    </tr>

    </tbody>
  </table>
</div>
<p class="leyenda-tabla" style="margin-top: 18px;">
  Fuente: Cámara Nacional de las Industrias de la Celulosa y del Papel Mexicana.<br>
  (1) Demanda aparente: Producción nacional, reportada por los fabricantes, más importaciones menos exportaciones.<br>
  (2) Tonelada corta: unidad de masa equivalente a 2.000 libras (907.18 kg)

</p>
</div>
<!--Sidebar-->
<div class="col-sm-3 sidebar">
  <!--widget IMG-->

  <br style="margin-bottom: 10px; "/>


  <div class="widget">
    <h5 class="widget-title">Demanda<sup>1</sup> total de papel</h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/sectorial-1.png" alt=""/>

    </div>

  </div>
  <!--widget IMG-->

  <div class="leyenda-tabla">
    Miles de toneladas cortas
  </div>


  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Demanda<sup>1</sup> de Papel para Empaque </h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/sectorial-2.png" alt=""/>

    </div>

  </div>
  <!--widget IMG-->

  <!--widget IMG-->

  <div class="leyenda-tabla">
    Miles de toneladas cortas
  </div>


  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Demanda<sup>1</sup> para Papel de Escritura e Impresión </h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/sectorial-3.png" alt=""/>

    </div>

  </div>
  <!--widget IMG-->

  <!--widget IMG-->

  <div class="leyenda-tabla">
    Miles de toneladas cortas
  </div>

  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Demanda<sup>1</sup> de Papel Periódico </h5>

    <div style="text-align: center">

      <img class="wow animated zoomIn slow-a" src="/imagenes/contenidos/sectorial-4.png" alt=""/>

    </div>

  </div>
  <!--widget IMG-->

  <!--widget IMG-->

  <div class="leyenda-tabla">
    Miles de toneladas cortas
  </div>

</div>
</div>