<div id="mensaje-presidente" class="col-md-9 space-right animated zoomIn slow-a">
  <h2 class="mt-0">Mensaje del presidente</h2>

  <p>Tengo el privilegio de encabezar, como Presidente del Consejo de Administración y Director General, a Grupo Gigante, una de las empresas de mayor trascendencia en nuestro país, quien a lo largo de su historia ha mantenido una presencia constante en el quehacer económico de México, y continúa siendo un referente en el ámbito de las empresas y organizaciones socialmente responsables con la comunidad a la que sirven.
  </p>

  <p>Siempre hemos sido una empresa confiable, generadora de empleos y consciente de su papel en el mercado, asegurando la libre competencia en México, un país que participa de lleno en el entorno económico global.
  </p>

  <p>Desde nuestro origen nos la hemos jugado con México, adaptándonos a los cambios y circunstancias que junto con él hemos vivido, modernizándonos y buscando la continua oportunidad de reinventarnos.
  </p>

  <p>Es difícil saber qué tan lejos llegaremos, cuáles serán los retos que enfrentaremos y los nuevos logros a alcanzar; lo que si sabemos es que hoy ya hemos hecho historia juntos.
  </p>

  <p>Quiero agradecer a nuestros accionistas por la confianza depositada y de manera especial, a mis colaboradores, quienes día con día entregan su mejor esfuerzo para hacer de ésta, una organización sólida, enfocada a nuestros clientes y comprometida con el desarrollo de México.
  </p>

  <p>Los invito a recorrer nuestra página web, a conocer más de cerca quiénes somos, cómo estamos integrados, a qué nos dedicamos, cuál ha sido nuestra visión del país en el que vivimos y competimos, las decisiones estratégicas que hemos tomado a lo largo del tiempo y la forma en que enfrentamos los retos día a día, acompañando a México en el camino de la modernidad.
  </p>

  <p><b>¡Un saludo muy afectuoso para todos!
  </b></p>


  <p>Muchas gracias,<br/>
    Ángel Losada Moreno<br/>
    Presidente del Consejo de Administración y Director General de Grupo Gigante.
  </p>
</div>


<!--Sidebar-->
<div class="col-sm-3 sidebar">
<!--widget IMG-->
<div class="team-item animated fadeIn slow-a">
  <div class="team-item-image">
    <img src="/imagenes/contenidos/director.jpg" alt="">
    <div class="team-item-detail">

      Presidente del Consejo de Administración y Director General de Grupo Gigante.
    </div>
  </div>
  <div class="team-item-descr">
    <div class="team-item-name">
      Ángel Losada Moreno
    </div>
    <div class="team-item-role">
      Director General
    </div>
    <div class="team-social-links">
      <a href="https://www.linkedin.com/company/1175037?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://twitter.com/biopappel" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
  <!--End widget IMG-->


  <!-- Widget -->
  <div class="quote">
<p>"Es difícil saber qué tan lejos llegaremos, cuáles serán los retos que enfrentaremos y los nuevos logros a alcanzar; lo que si sabemos es que hoy ya hemos hecho historia juntos." </p>
</div>
  <!-- End Widget -->




  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Horas de capacitación Bio-Talent</h5>
    <div style="text-align: center">

      <img class="animated zoomIn slow-a" src="/imagenes/contenidos/Capacitacion.png" alt="Director"/>

    </div>

  </div>
  <!--widget IMG-->





</div>
