<div id="mensaje-presidente" class="col-md-9 space-right animated zoomIn slow-a">
  <h2 class="mt-0">Mensaje del presidente</h2>

  <p>2013 fue un año lleno de desafíos en el que logramos un desempeño sobresaliente en el cuidado y protección del
    medio ambiente, así como el crear valor compartido en la cadena. Nuestra experiencia y liderazgo en el mercado como
    el mayor productor de papel y productos de papel en México y América Latina han traído consigo grandes
    responsabilidades, mismas que han podido generar resultados satisfactorios a pesar de aspectos externos, como un
    entorno de negocio poco alentador, derivado de un bajo crecimiento económico en México en 2013.</p>

  <p>Un ejemplo de nuestro compromiso con la sustentabilidad y protección del medio ambiente son las inversiones que
    realizamos en 2013. Estas inversiones ascienden a más de 893 millones de pesos que fueron destinados a diferentes
    proyectos que permiten mantenernos a la vanguardia en innovación y tecnología frente a nuestros competidores,
    garantizando siempre la sustentabilidad de nuestros procesos, como el cogenerar mayores niveles de energía verde a
    partir del vapor de nuestras operaciones. Asimismo pusimos especial atención en mantener e incrementar las
    certificaciones que nos acreditan como una empresa preocupada por brindar la mejor calidad y servicio en
    todos nuestros productos.</p>

  <p>En el aspecto ambiental, nuestro programa institucional Bosque Urbano sigue generando grandes resultados, logrando
    recuperar y reutilizar 5.5 millones de toneladas de papel y cartón en estos últimos 3 años, lo que representa haber
    capturado 22 millones de toneladas de CO<sub>2</sub> equivalente en dicho periodo, impulsando una cadena de reducción y captura
    de CO<sub>2</sub> equivalente.</p>

  <p>En el ámbito social, seguimos generando impacto positivo en las comunidades donde tenemos presencia, a través de la
    generación de más de 8 mil empleos directos y promoviendo el desarrollo profesional de nuestra gente, a través del
    programa Bio-Talent de gestión del desempeño, el cual logró impartir cerca de 200 mil horas de capacitación en 2013.
    De la inversión total en 2013, invertimos en materia de salud y seguridad ocupacional más de 153 millones de pesos
    en el fortalecimiento de nuestros sistemas de seguridad, brindando, aún, mejores condiciones de trabajo a nuestro
    personal.</p>

  <p>Resulta importante destacar, también, que en 2013 fortalecimos nuestra área de Responsabilidad Social, a través de
    coordinaciones regionales, que mantienen un diálogo permanente con nuestros grupos de interés, a fin de identificar de mejor forma sus expectativas y necesidades.</p>

  <p>Acciones como las anteriores refrendan el compromiso y apoyo que Bio-PAPPEL ha brindado, desde el año 2006, a los
    diez Principios del Pacto Mundial referentes a Derechos Humanos, Derechos Laborales, Medio Ambiente y
    Anti-corrupción. El presente informe ha incorporado dichos principios como parte de la Comunicación sobre el
    Progreso en 2013.</p>

  <p>En Bio-PAPPEL, visualizamos un futuro alentador, el cual podrá materializarse a través del seguimiento puntual de
    nuestra estrategia de negocio, que nos permitirá seguir creciendo de una manera sostenida y rentable, gracias al
    enorme talento y actitud sin igual de nuestro personal.</p>

  <p>A nombre del Consejo de Administración, agradezco el apoyo brindado por cada uno de nuestros colaboradores, grupos
    de interés y, muy especialmente, a nuestros accionistas, pues gracias a su visión podemos refrendar día a día
    nuestro alto compromiso con la sustentabilidad ambiental, las mejores prácticas de negocio, y la Responsabilidad
    Social.</p>

  <p>Muchas gracias,<br/>
    <img src="/imagenes/firma.jpg" alt=""/><br/>
    Miguel Rincón Arredondo<br/>
    Presidente del Consejo de Administración y Director General Bio-PAPPEL.
  </p>
</div>


<!--Sidebar-->
<div class="col-sm-3 sidebar">
<!--widget IMG-->
<div class="team-item animated fadeIn slow-a">
  <div class="team-item-image">
    <img src="/imagenes/contenidos/mrincon270.jpg" alt="">
    <div class="team-item-detail">

      Presidente del Consejo, Presidente Ejecutivo y Director General de Bio Pappel desde su fundación en 1982.
    </div>
  </div>
  <div class="team-item-descr">
    <div class="team-item-name">
      Miguel Rincón Arredondo
    </div>
    <div class="team-item-role">
      Director General
    </div>
    <div class="team-social-links">
      <a href="https://www.linkedin.com/company/1175037?trk=prof-0-ovw-curr_pos" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://twitter.com/biopappel" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
  <!--End widget IMG-->


  <!-- Widget -->
  <div class="quote">
<p>"En el aspecto ambiental, nuestro programa institucional Bosque Urbano sigue generando grandes resultados, logrando recuperar y reutilizar 5.5 millones de toneladas de papel y cartón en estos últimos 3años," </p>
</div>
  <!-- End Widget -->




  <!--widget IMG-->
  <div class="widget">
    <h5 class="widget-title">Horas de capacitación Bio-Talent</h5>
    <div style="text-align: center">

      <img class="animated zoomIn slow-a" src="/imagenes/contenidos/Capacitacion.png" alt="Director"/>

    </div>

  </div>
  <!--widget IMG-->





</div>
