<div id="modelo-sustentabilidad" >


<div class="row">
  <h2>Modelo de Sustentabilidad</h2>
  <div class="col-md-6 animated fadeInLeft slow-a">
    <p>Con el objetivo de convertirnos en parte de la solución al problema del calentamiento global, en Bio-PAPPEL diseñamos un ambicioso modelo sustentable de negocio que nos permite alejarnos del modelo de la industria papelera convencional, caracterizado históricamente por un alto costo social y ambiental, al fabricar papel a partir del consumo intensivo de árboles, así como de agua y energía.</p>

    <p>La visión central de nuestro modelo sustentable consiste en producir todo nuestro papel y productos de papel sin cortar árboles, al haber sustituido el bosque forestal por el Bosque Urbano, es decir, reciclamos el papel que ya fue usado y lo transformamos en papel nuevo de gran calidad.</p>

    <p>En 2013, refrendamos nuestro compromiso de reducir nuestra huella ambiental, desde la obtención de nuestras materias primas (papel y cartón usados), para su transformación y fabricación de nuevo papel y productos de papel, hasta su procesamiento final como residuo, y su reutilización nuevamente como materia  prima. Las prioridades en materia ambiental para Bio-PAPPEL se concentran en los siguientes aspectos: minimización de las emisiones; optimización del consumo del agua, y de nuestras descargas, llevándolas a ser “cero efluentes”; gestión eficiente de los residuos, y la mejora en los sistemas de prevención de derrames.</p>

    <p>Como resultado de este gran esfuerzo, logramos mantenernos como una de las pocas empresas que cuentan con certificaciones integrales, tales como ISO 9001, OHSAS 18000 e ISO 14000. Además, mantenemos los requerimientos, y el seguimiento periódico a la certificación de Industria Limpia que otorga la Procuraduría Federal de Protección al Ambiente (PROFEPA).</p>
  </div>

  <div class="col-md-6 animated fadeInRight slow-a">



<div style="text-align: center">
    <img src="/imagenes/contenidos/modelo.png" alt=""/>
</div>


  <br/>
</div>

</div>
</div>
